/*
Meraki Dashboard API

The Cisco Meraki Dashboard API is a modern REST API based on the OpenAPI specification.  > Date: 07 June, 2023 > > [Recent Updates](https://meraki.io/whats-new/)  ---  [API Documentation](https://meraki.io/api)  [Community Support](https://meraki.io/community)  [Meraki Homepage](https://www.meraki.com) 

API version: 1.34.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package client

import (
	"bytes"
	"context"
	"io/ioutil"
	"net/http"
	"net/url"
	"strings"
)


// CotermApiService CotermApi service
type CotermApiService service

type CotermApiGetOrganizationLicensingCotermLicensesRequest struct {
	ctx context.Context
	ApiService *CotermApiService
	organizationId string
	perPage *int32
	startingAfter *string
	endingBefore *string
	invalidated *bool
	expired *bool
}

// The number of entries per page returned. Acceptable range is 3 - 1000. Default is 1000.
func (r CotermApiGetOrganizationLicensingCotermLicensesRequest) PerPage(perPage int32) CotermApiGetOrganizationLicensingCotermLicensesRequest {
	r.perPage = &perPage
	return r
}

// A token used by the server to indicate the start of the page. Often this is a timestamp or an ID but it is not limited to those. This parameter should not be defined by client applications. The link for the first, last, prev, or next page in the HTTP Link header should define it.
func (r CotermApiGetOrganizationLicensingCotermLicensesRequest) StartingAfter(startingAfter string) CotermApiGetOrganizationLicensingCotermLicensesRequest {
	r.startingAfter = &startingAfter
	return r
}

// A token used by the server to indicate the end of the page. Often this is a timestamp or an ID but it is not limited to those. This parameter should not be defined by client applications. The link for the first, last, prev, or next page in the HTTP Link header should define it.
func (r CotermApiGetOrganizationLicensingCotermLicensesRequest) EndingBefore(endingBefore string) CotermApiGetOrganizationLicensingCotermLicensesRequest {
	r.endingBefore = &endingBefore
	return r
}

// Filter for licenses that are invalidated
func (r CotermApiGetOrganizationLicensingCotermLicensesRequest) Invalidated(invalidated bool) CotermApiGetOrganizationLicensingCotermLicensesRequest {
	r.invalidated = &invalidated
	return r
}

// Filter for licenses that are expired
func (r CotermApiGetOrganizationLicensingCotermLicensesRequest) Expired(expired bool) CotermApiGetOrganizationLicensingCotermLicensesRequest {
	r.expired = &expired
	return r
}

func (r CotermApiGetOrganizationLicensingCotermLicensesRequest) Execute() ([]InlineResponse200134, *http.Response, error) {
	return r.ApiService.GetOrganizationLicensingCotermLicensesExecute(r)
}

/*
GetOrganizationLicensingCotermLicenses List the licenses in a coterm organization

List the licenses in a coterm organization

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param organizationId Organization ID
 @return CotermApiGetOrganizationLicensingCotermLicensesRequest
*/
func (a *CotermApiService) GetOrganizationLicensingCotermLicenses(ctx context.Context, organizationId string) CotermApiGetOrganizationLicensingCotermLicensesRequest {
	return CotermApiGetOrganizationLicensingCotermLicensesRequest{
		ApiService: a,
		ctx: ctx,
		organizationId: organizationId,
	}
}

// Execute executes the request
//  @return []InlineResponse200134
func (a *CotermApiService) GetOrganizationLicensingCotermLicensesExecute(r CotermApiGetOrganizationLicensingCotermLicensesRequest) ([]InlineResponse200134, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []InlineResponse200134
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CotermApiService.GetOrganizationLicensingCotermLicenses")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/organizations/{organizationId}/licensing/coterm/licenses"
	localVarPath = strings.Replace(localVarPath, "{"+"organizationId"+"}", url.PathEscape(parameterToString(r.organizationId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.perPage != nil {
		localVarQueryParams.Add("perPage", parameterToString(*r.perPage, ""))
	}
	if r.startingAfter != nil {
		localVarQueryParams.Add("startingAfter", parameterToString(*r.startingAfter, ""))
	}
	if r.endingBefore != nil {
		localVarQueryParams.Add("endingBefore", parameterToString(*r.endingBefore, ""))
	}
	if r.invalidated != nil {
		localVarQueryParams.Add("invalidated", parameterToString(*r.invalidated, ""))
	}
	if r.expired != nil {
		localVarQueryParams.Add("expired", parameterToString(*r.expired, ""))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["meraki_api_key"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Cisco-Meraki-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CotermApiMoveOrganizationLicensingCotermLicensesRequest struct {
	ctx context.Context
	ApiService *CotermApiService
	organizationId string
	moveOrganizationLicensingCotermLicenses *InlineObject212
}

func (r CotermApiMoveOrganizationLicensingCotermLicensesRequest) MoveOrganizationLicensingCotermLicenses(moveOrganizationLicensingCotermLicenses InlineObject212) CotermApiMoveOrganizationLicensingCotermLicensesRequest {
	r.moveOrganizationLicensingCotermLicenses = &moveOrganizationLicensingCotermLicenses
	return r
}

func (r CotermApiMoveOrganizationLicensingCotermLicensesRequest) Execute() (*InlineResponse200135, *http.Response, error) {
	return r.ApiService.MoveOrganizationLicensingCotermLicensesExecute(r)
}

/*
MoveOrganizationLicensingCotermLicenses Moves a license to a different organization (coterm only)

Moves a license to a different organization (coterm only)

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param organizationId Organization ID
 @return CotermApiMoveOrganizationLicensingCotermLicensesRequest
*/
func (a *CotermApiService) MoveOrganizationLicensingCotermLicenses(ctx context.Context, organizationId string) CotermApiMoveOrganizationLicensingCotermLicensesRequest {
	return CotermApiMoveOrganizationLicensingCotermLicensesRequest{
		ApiService: a,
		ctx: ctx,
		organizationId: organizationId,
	}
}

// Execute executes the request
//  @return InlineResponse200135
func (a *CotermApiService) MoveOrganizationLicensingCotermLicensesExecute(r CotermApiMoveOrganizationLicensingCotermLicensesRequest) (*InlineResponse200135, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *InlineResponse200135
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CotermApiService.MoveOrganizationLicensingCotermLicenses")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/organizations/{organizationId}/licensing/coterm/licenses/move"
	localVarPath = strings.Replace(localVarPath, "{"+"organizationId"+"}", url.PathEscape(parameterToString(r.organizationId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.moveOrganizationLicensingCotermLicenses == nil {
		return localVarReturnValue, nil, reportError("moveOrganizationLicensingCotermLicenses is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.moveOrganizationLicensingCotermLicenses
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["meraki_api_key"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Cisco-Meraki-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
