/*
Meraki Dashboard API

A RESTful API to programmatically manage and monitor Cisco Meraki networks at scale.  > Date: 07 February, 2024 > > [Recent Updates](https://meraki.io/whats-new/)  ---  [API Documentation](https://meraki.io/api)  [Community Support](https://meraki.io/community)  [Meraki Homepage](https://www.meraki.com) 

API version: 1.43.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package client

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// ArpTableApiService ArpTableApi service
type ArpTableApiService service

type ArpTableApiCreateDeviceLiveToolsArpTableRequest struct {
	ctx context.Context
	ApiService *ArpTableApiService
	serial string
	createDeviceLiveToolsArpTableRequest *CreateDeviceLiveToolsArpTableRequest
}

func (r ArpTableApiCreateDeviceLiveToolsArpTableRequest) CreateDeviceLiveToolsArpTableRequest(createDeviceLiveToolsArpTableRequest CreateDeviceLiveToolsArpTableRequest) ArpTableApiCreateDeviceLiveToolsArpTableRequest {
	r.createDeviceLiveToolsArpTableRequest = &createDeviceLiveToolsArpTableRequest
	return r
}

func (r ArpTableApiCreateDeviceLiveToolsArpTableRequest) Execute() (*CreateDeviceLiveToolsArpTable201Response, *http.Response, error) {
	return r.ApiService.CreateDeviceLiveToolsArpTableExecute(r)
}

/*
CreateDeviceLiveToolsArpTable Enqueue a job to perform a ARP table request for the device

Enqueue a job to perform a ARP table request for the device. This endpoint currently supports switches.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param serial Serial
 @return ArpTableApiCreateDeviceLiveToolsArpTableRequest
*/
func (a *ArpTableApiService) CreateDeviceLiveToolsArpTable(ctx context.Context, serial string) ArpTableApiCreateDeviceLiveToolsArpTableRequest {
	return ArpTableApiCreateDeviceLiveToolsArpTableRequest{
		ApiService: a,
		ctx: ctx,
		serial: serial,
	}
}

// Execute executes the request
//  @return CreateDeviceLiveToolsArpTable201Response
func (a *ArpTableApiService) CreateDeviceLiveToolsArpTableExecute(r ArpTableApiCreateDeviceLiveToolsArpTableRequest) (*CreateDeviceLiveToolsArpTable201Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CreateDeviceLiveToolsArpTable201Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ArpTableApiService.CreateDeviceLiveToolsArpTable")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/devices/{serial}/liveTools/arpTable"
	localVarPath = strings.Replace(localVarPath, "{"+"serial"+"}", url.PathEscape(parameterValueToString(r.serial, "serial")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.createDeviceLiveToolsArpTableRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["meraki_api_key"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Cisco-Meraki-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ArpTableApiGetDeviceLiveToolsArpTableRequest struct {
	ctx context.Context
	ApiService *ArpTableApiService
	serial string
	arpTableId string
}

func (r ArpTableApiGetDeviceLiveToolsArpTableRequest) Execute() (*DevicesSerialLiveToolsArpTablePostRequestMessage, *http.Response, error) {
	return r.ApiService.GetDeviceLiveToolsArpTableExecute(r)
}

/*
GetDeviceLiveToolsArpTable Return an ARP table live tool job.

Return an ARP table live tool job.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param serial Serial
 @param arpTableId Arp table ID
 @return ArpTableApiGetDeviceLiveToolsArpTableRequest
*/
func (a *ArpTableApiService) GetDeviceLiveToolsArpTable(ctx context.Context, serial string, arpTableId string) ArpTableApiGetDeviceLiveToolsArpTableRequest {
	return ArpTableApiGetDeviceLiveToolsArpTableRequest{
		ApiService: a,
		ctx: ctx,
		serial: serial,
		arpTableId: arpTableId,
	}
}

// Execute executes the request
//  @return DevicesSerialLiveToolsArpTablePostRequestMessage
func (a *ArpTableApiService) GetDeviceLiveToolsArpTableExecute(r ArpTableApiGetDeviceLiveToolsArpTableRequest) (*DevicesSerialLiveToolsArpTablePostRequestMessage, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *DevicesSerialLiveToolsArpTablePostRequestMessage
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ArpTableApiService.GetDeviceLiveToolsArpTable")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/devices/{serial}/liveTools/arpTable/{arpTableId}"
	localVarPath = strings.Replace(localVarPath, "{"+"serial"+"}", url.PathEscape(parameterValueToString(r.serial, "serial")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"arpTableId"+"}", url.PathEscape(parameterValueToString(r.arpTableId, "arpTableId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["meraki_api_key"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Cisco-Meraki-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
