openapi: 3.0.1
info:
  contact:
    name: Meraki Developer Community
    url: https://meraki.io/community
  description: |
    The Cisco Meraki Dashboard API is a modern REST API based on the OpenAPI specification.

    > Date: 03 May, 2023
    >
    > [Recent Updates](https://meraki.io/whats-new/)

    ---

    [API Documentation](https://meraki.io/api)

    [Community Support](https://meraki.io/community)

    [Meraki Homepage](https://www.meraki.com)
  title: Meraki Dashboard API
  version: 1.33.0
servers:
- url: https://api.meraki.com/api/v1
security:
- meraki_api_key: []
tags:
- name: organizations
- name: networks
- name: devices
- name: insight
- name: wireless
- name: camera
- name: appliance
- name: switch
- name: cellularGateway
- name: sm
- name: sensor
- name: administered
- name: accessControlLists
- name: accessPolicies
- name: acls
- name: actionBatches
- name: adaptivePolicy
- name: addresses
- name: admins
- name: airMarshal
- name: alertTypes
- name: alerts
- name: alternateManagementInterface
- name: analytics
- name: apiRequests
- name: apnsCert
- name: appliances
- name: applicationCategories
- name: applicationUsage
- name: applications
- name: arpInspection
- name: artifacts
- name: authenticationToken
- name: availabilities
- name: bandwidthUsageHistory
- name: bgp
- name: billing
- name: bluetooth
- name: bluetoothClients
- name: bonjourForwarding
- name: brandingPolicies
- name: byClient
- name: byDevice
- name: byEnergyUsage
- name: byInterval
- name: byMetric
- name: bySwitch
- name: byUsage
- name: byUtilization
- name: bypassActivationLockAttempts
- name: categories
- name: cellular
- name: cellularFirewallRules
- name: cellularUsageHistory
- name: certs
- name: channelUtilization
- name: channelUtilizationHistory
- name: claim
- name: clientCountHistory
- name: clients
- name: cloudMonitoring
- name: configTemplates
- name: configurationChanges
- name: configure
- name: connectionStats
- name: connectivity
- name: connectivityEvents
- name: connectivityMonitoringDestinations
- name: contentFiltering
- name: coterm
- name: current
- name: customAnalytics
- name: customPerformanceClasses
- name: dataRateHistory
- name: delegated
- name: desktopLogs
- name: deviceCommandLogs
- name: deviceProfiles
- name: deviceTypeGroupPolicies
- name: dhcp
- name: dhcpServerPolicy
- name: dscpTaggingOptions
- name: dscpToCosMappings
- name: eapOverride
- name: earlyAccess
- name: ethernet
- name: eventTypes
- name: events
- name: exportEvents
- name: failedConnections
- name: features
- name: fields
- name: firewall
- name: firewalledServices
- name: firmware
- name: firmwareUpgrades
- name: floorPlans
- name: groupPolicies
- name: groups
- name: health
- name: healthByTime
- name: history
- name: hotspot20
- name: httpServers
- name: identities
- name: identityPsks
- name: idps
- name: imports
- name: inboundCellularFirewallRules
- name: inboundFirewallRules
- name: interfaces
- name: intrusion
- name: inventory
- name: l3FirewallRules
- name: l7FirewallRules
- name: lan
- name: latencyHistory
- name: latencyStats
- name: latest
- name: licenses
- name: licensing
- name: linkAggregations
- name: linkLayer
- name: live
- name: liveTools
- name: lldpCdp
- name: loginSecurity
- name: logs
- name: lossAndLatencyHistory
- name: malware
- name: managementInterface
- name: manufacturers
- name: me
- name: merakiAuthUsers
- name: meshStatuses
- name: models
- name: monitor
- name: monitoredMediaServers
- name: mqttBrokers
- name: mtu
- name: multicast
- name: netflow
- name: networkAdapters
- name: networkHealth
- name: objectDetectionModels
- name: onboarding
- name: oneToManyNatRules
- name: oneToOneNatRules
- name: openapiSpec
- name: optIns
- name: order
- name: ospf
- name: overview
- name: packets
- name: payloadTemplates
- name: performance
- name: performanceHistory
- name: pii
- name: piiKeys
- name: ping
- name: pingDevice
- name: policies
- name: policy
- name: policyObjects
- name: portForwardingRules
- name: portSchedules
- name: ports
- name: powerModules
- name: prefixes
- name: prepare
- name: priorities
- name: profiles
- name: provisioning
- name: qosRules
- name: qualityAndRetention
- name: qualityRetentionProfiles
- name: radio
- name: readings
- name: recent
- name: relationships
- name: rendezvousPoints
- name: requests
- name: responseCodes
- name: restrictions
- name: rfProfiles
- name: rollbacks
- name: routing
- name: rules
- name: saml
- name: samlRoles
- name: schedules
- name: search
- name: security
- name: securityCenters
- name: seen
- name: sense
- name: servers
- name: settings
- name: signalQualityHistory
- name: sims
- name: singleLan
- name: siteToSiteVpn
- name: smDevicesForKey
- name: smOwnersForKey
- name: snmp
- name: softwares
- name: splash
- name: splashAuthorizationStatus
- name: splashLoginAttempts
- name: ssids
- name: stacks
- name: staged
- name: stages
- name: staticRoutes
- name: statics
- name: stats
- name: status
- name: statuses
- name: stormControl
- name: stp
- name: subnetPool
- name: subnets
- name: summary
- name: switches
- name: syslogServers
- name: targetGroups
- name: thirdPartyVPNPeers
- name: top
- name: topology
- name: traffic
- name: trafficAnalysis
- name: trafficHistory
- name: trafficShaping
- name: trustedAccessConfigs
- name: trustedServers
- name: upgrades
- name: uplink
- name: uplinkBandwidth
- name: uplinkSelection
- name: uplinks
- name: uplinksLossAndLatency
- name: usageHistories
- name: usageHistory
- name: userAccessDevices
- name: users
- name: v4
- name: video
- name: videoLink
- name: vlanAssignments
- name: vlans
- name: vmx
- name: vpn
- name: vpnFirewallRules
- name: vppAccounts
- name: warmSpare
- name: warnings
- name: webhookTests
- name: webhooks
- name: wirelessProfiles
- name: wlanLists
- name: zones
paths:
  /administered/identities/me:
    get:
      description: Returns the identity of the current user.
      operationId: getAdministeredIdentitiesMe
      responses:
        "200":
          content:
            application/json:
              example:
                name: Miles Meraki
                email: miles@meraki.com
                lastUsedDashboardAt: 2018-02-11T00:00:00.090210Z
                authentication:
                  mode: email
                  api:
                    key:
                      created: true
                  twoFactor:
                    enabled: false
                  saml:
                    enabled: false
              schema:
                $ref: '#/components/schemas/inline_response_200'
          description: Successful operation
      summary: Returns the identity of the current user.
      tags:
      - administered
      - monitor
      - identities
      - me
  /devices/{serial}:
    get:
      description: Return a single device
      operationId: getDevice
      parameters:
      - description: Serial
        in: path
        name: serial
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              example:
                name: My AP
                lat: 37.4180951010362
                lng: -122.098531723022
                serial: Q234-ABCD-5678
                mac: 00:11:22:33:44:55
                model: MR34
                address: 1600 Pennsylvania Ave
                notes: My AP's note
                lanIp: 1.2.3.4
                tags:
                - recently-added
                networkId: N_24329156
                beaconIdParams:
                  uuid: 00000000-0000-0000-0000-000000000000
                  major: 5
                  minor: 3
                firmware: wireless-25-14
                floorPlanId: g_1234567
              schema:
                type: object
          description: Successful operation
      summary: Return a single device
      tags:
      - devices
      - configure
    put:
      description: Update the attributes of a device
      operationId: updateDevice
      parameters:
      - description: Serial
        in: path
        name: serial
        required: true
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/inline_object'
        content:
          application/json:
            schema:
              example:
                name: My AP
                lat: 37.4180951010362
                lng: -122.098531723022
                serial: Q234-ABCD-5678
                mac: 00:11:22:33:44:55
                tags:
                - recently-added
              properties:
                name:
                  description: The name of a device
                  type: string
                tags:
                  description: The list of tags of a device
                  items:
                    type: string
                  type: array
                lat:
                  description: The latitude of a device
                  format: float
                  type: number
                lng:
                  description: The longitude of a device
                  format: float
                  type: number
                address:
                  description: The address of a device
                  type: string
                notes:
                  description: The notes for the device. String. Limited to 255 characters.
                  type: string
                moveMapMarker:
                  description: Whether or not to set the latitude and longitude of
                    a device based on the new address. Only applies when lat and lng
                    are not specified.
                  type: boolean
                switchProfileId:
                  description: The ID of a switch profile to bind to the device (for
                    available switch profiles, see the 'Switch Profiles' endpoint).
                    Use null to unbind the switch device from the current profile.
                    For a device to be bindable to a switch profile, it must (1) be
                    a switch, and (2) belong to a network that is bound to a configuration
                    template.
                  type: string
                floorPlanId:
                  description: The floor plan to associate to this device. null disassociates
                    the device from the floorplan.
                  type: string
              type: object
        required: false
      responses:
        "200":
          content:
            application/json:
              example:
                name: My AP
                lat: 37.4180951010362
                lng: -122.098531723022
                serial: Q234-ABCD-5678
                mac: 00:11:22:33:44:55
                model: MR34
                address: 1600 Pennsylvania Ave
                notes: My AP's note
                lanIp: 1.2.3.4
                tags:
                - recently-added
                networkId: N_24329156
                beaconIdParams:
                  uuid: 00000000-0000-0000-0000-000000000000
                  major: 5
                  minor: 3
                firmware: wireless-25-14
                floorPlanId: g_1234567
              schema:
                type: object
          description: Successful operation
      summary: Update the attributes of a device
      tags:
      - devices
      - configure
      x-codegen-request-body-name: updateDevice
  /devices/{serial}/appliance/dhcp/subnets:
    get:
      description: Return the DHCP subnet information for an appliance
      operationId: getDeviceApplianceDhcpSubnets
      parameters:
      - description: Serial
        in: path
        name: serial
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              example:
              - subnet: 192.168.1.0/24
                vlanId: 100
                usedCount: 2
                freeCount: 251
              schema:
                items:
                  properties: {}
                  type: object
                type: array
          description: Successful operation
      summary: Return the DHCP subnet information for an appliance
      tags:
      - appliance
      - monitor
      - dhcp
      - subnets
  /devices/{serial}/appliance/performance:
    get:
      description: Return the performance score for a single MX. Only primary MX devices
        supported. If no data is available, a 204 error code is returned.
      operationId: getDeviceAppliancePerformance
      parameters:
      - description: Serial
        in: path
        name: serial
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              example:
                perfScore: 10
              schema:
                type: object
          description: Successful operation
      summary: Return the performance score for a single MX
      tags:
      - appliance
      - monitor
      - performance
  /devices/{serial}/appliance/prefixes/delegated:
    get:
      description: Return current delegated IPv6 prefixes on an appliance.
      operationId: getDeviceAppliancePrefixesDelegated
      parameters:
      - description: Serial
        in: path
        name: serial
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              example:
              - origin:
                  interface: wan1
                prefix: 2001:db8:3c4d:15::/64
                counts:
                  assigned: 2
                  available: 253
                method: auto
                description: My ISP provider
                isPreferred: true
                expiresAt: 2018-05-12T00:00:00Z
              schema:
                items:
                  properties: {}
                  type: object
                type: array
          description: Successful operation
      summary: Return current delegated IPv6 prefixes on an appliance.
      tags:
      - appliance
      - monitor
      - prefixes
      - delegated
  /devices/{serial}/appliance/prefixes/delegated/vlanAssignments:
    get:
      description: Return prefixes assigned to all IPv6 enabled VLANs on an appliance.
      operationId: getDeviceAppliancePrefixesDelegatedVlanAssignments
      parameters:
      - description: Serial
        in: path
        name: serial
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              example:
              - vlan:
                  id: 100
                  name: My VLAN
                origin:
                  interface: wan1
                  prefix: 2001:db8:3c4d:15::/64
                status: Active
                ipv6:
                  prefix: 2001:db8:3c4d:15::/64
                  address: 2001:db8:3c4d:15::1
                  linkLocal:
                    address: 2001:db8:3c4d:15::1
                  solicitedNodeMulticast:
                    address: 2001:db8:3c4d:15::1
              schema:
                items:
                  properties: {}
                  type: object
                type: array
          description: Successful operation
      summary: Return prefixes assigned to all IPv6 enabled VLANs on an appliance.
      tags:
      - appliance
      - monitor
      - prefixes
      - delegated
      - vlanAssignments
  /devices/{serial}/appliance/uplinks/settings:
    get:
      description: Return the uplink settings for an MX appliance
      operationId: getDeviceApplianceUplinksSettings
      parameters:
      - description: Serial
        in: path
        name: serial
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              example:
                interfaces:
                  wan1:
                    enabled: true
                    vlanTagging:
                      enabled: true
                      vlanId: 1
                    svis:
                      ipv4:
                        assignmentMode: static
                        address: 9.10.11.10/16
                        gateway: 13.14.15.16
                        nameservers:
                          addresses:
                          - 1.2.3.4
                      ipv6:
                        assignmentMode: static
                        address: 1:2:3::4
                        gateway: 1:2:3::5
                        nameservers:
                          addresses:
                          - 1001:4860:4860::8888
                          - 1001:4860:4860::8844
                    pppoe:
                      enabled: true
                      authentication:
                        enabled: true
                        username: username
                  wan2:
                    enabled: true
                    vlanTagging:
                      enabled: true
                      vlanId: 1
                    svis:
                      ipv4:
                        assignmentMode: static
                        address: 9.10.11.10/16
                        gateway: 13.14.15.16
                        nameservers:
                          addresses:
                          - 1.2.3.4
                      ipv6:
                        assignmentMode: static
                        address: 1:2:3::4
                        gateway: 1:2:3::5
                        nameservers:
                          addresses:
                          - 1001:4860:4860::8888
                          - 1001:4860:4860::8844
                    pppoe:
                      enabled: true
                      authentication:
                        enabled: true
                        username: username
              schema:
                $ref: '#/components/schemas/inline_response_200_1'
          description: Successful operation
      summary: Return the uplink settings for an MX appliance
      tags:
      - appliance
      - configure
      - uplinks
      - settings
    put:
      description: Update the uplink settings for an MX appliance
      operationId: updateDeviceApplianceUplinksSettings
      parameters:
      - description: Serial
        in: path
        name: serial
        required: true
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/inline_object_1'
        content:
          application/json:
            schema:
              example:
                interfaces:
                  wan1:
                    enabled: true
                    vlanTagging:
                      enabled: true
                      vlanId: 1
                    svis:
                      ipv4:
                        assignmentMode: static
                        address: 9.10.11.10/16
                        gateway: 13.14.15.16
                        nameservers:
                          addresses:
                          - 1.2.3.4
                      ipv6:
                        assignmentMode: static
                        address: 1:2:3::4
                        gateway: 1:2:3::5
                        nameservers:
                          addresses:
                          - 1001:4860:4860::8888
                          - 1001:4860:4860::8844
                    pppoe:
                      enabled: true
                      authentication:
                        enabled: true
                        username: username
                        password: password
                  wan2:
                    enabled: true
                    vlanTagging:
                      enabled: true
                      vlanId: 1
                    svis:
                      ipv4:
                        assignmentMode: static
                        address: 9.10.11.10/16
                        gateway: 13.14.15.16
                        nameservers:
                          addresses:
                          - 1.2.3.4
                      ipv6:
                        assignmentMode: static
                        address: 1:2:3::4
                        gateway: 1:2:3::5
                        nameservers:
                          addresses:
                          - 1001:4860:4860::8888
                          - 1001:4860:4860::8844
                    pppoe:
                      enabled: true
                      authentication:
                        enabled: true
                        username: username
                        password: password
              properties:
                interfaces:
                  $ref: '#/components/schemas/_devices__serial__appliance_uplinks_settings_interfaces'
              required:
              - interfaces
              type: object
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                interfaces:
                  wan1:
                    enabled: true
                    vlanTagging:
                      enabled: true
                      vlanId: 1
                    svis:
                      ipv4:
                        assignmentMode: static
                        address: 9.10.11.10/16
                        gateway: 13.14.15.16
                        nameservers:
                          addresses:
                          - 1.2.3.4
                      ipv6:
                        assignmentMode: static
                        address: 1:2:3::4
                        gateway: 1:2:3::5
                        nameservers:
                          addresses:
                          - 1001:4860:4860::8888
                          - 1001:4860:4860::8844
                    pppoe:
                      enabled: true
                      authentication:
                        enabled: true
                        username: username
                  wan2:
                    enabled: true
                    vlanTagging:
                      enabled: true
                      vlanId: 1
                    svis:
                      ipv4:
                        assignmentMode: static
                        address: 9.10.11.10/16
                        gateway: 13.14.15.16
                        nameservers:
                          addresses:
                          - 1.2.3.4
                      ipv6:
                        assignmentMode: static
                        address: 1:2:3::4
                        gateway: 1:2:3::5
                        nameservers:
                          addresses:
                          - 1001:4860:4860::8888
                          - 1001:4860:4860::8844
                    pppoe:
                      enabled: true
                      authentication:
                        enabled: true
                        username: username
              schema:
                $ref: '#/components/schemas/inline_response_200_1'
          description: Successful operation
      summary: Update the uplink settings for an MX appliance
      tags:
      - appliance
      - configure
      - uplinks
      - settings
      x-codegen-request-body-name: updateDeviceApplianceUplinksSettings
  /devices/{serial}/appliance/vmx/authenticationToken:
    post:
      description: Generate a new vMX authentication token
      operationId: createDeviceApplianceVmxAuthenticationToken
      parameters:
      - description: Serial
        in: path
        name: serial
        required: true
        schema:
          type: string
      responses:
        "201":
          content:
            application/json:
              example:
                token: ffc0b7b578b61be5bd1d172132c78044/9af03bd84d474
                expiresAt: 2021-06-18T12:40:10Z
              schema:
                $ref: '#/components/schemas/inline_response_201'
          description: Successful operation
      summary: Generate a new vMX authentication token
      tags:
      - appliance
      - configure
      - vmx
      - authenticationToken
  /devices/{serial}/blinkLeds:
    post:
      description: Blink the LEDs on a device
      operationId: blinkDeviceLeds
      parameters:
      - description: Serial
        in: path
        name: serial
        required: true
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/inline_object_2'
        content:
          application/json:
            schema:
              example:
                duration: 20
                period: 160
                duty: 50
              properties:
                duration:
                  description: The duration in seconds. Must be between 5 and 120.
                    Default is 20 seconds
                  type: integer
                period:
                  description: The period in milliseconds. Must be between 100 and
                    1000. Default is 160 milliseconds
                  type: integer
                duty:
                  description: The duty cycle as the percent active. Must be between
                    10 and 90. Default is 50.
                  type: integer
              type: object
        required: false
      responses:
        "202":
          content:
            application/json:
              example:
                duration: 20
                period: 160
                duty: 50
              schema:
                type: object
          description: Successful operation
      summary: Blink the LEDs on a device
      tags:
      - devices
      - liveTools
      x-codegen-request-body-name: blinkDeviceLeds
  /devices/{serial}/camera/analytics/live:
    get:
      description: Returns live state from camera of analytics zones
      operationId: getDeviceCameraAnalyticsLive
      parameters:
      - description: Serial
        in: path
        name: serial
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              example:
                ts: 2018-08-15T18:32:38.123Z
                zones:
                  "0":
                    person: 0
              schema:
                type: object
          description: Successful operation
      summary: Returns live state from camera of analytics zones
      tags:
      - camera
      - monitor
      - analytics
      - live
  /devices/{serial}/camera/analytics/overview:
    get:
      description: Returns an overview of aggregate analytics data for a timespan
      operationId: getDeviceCameraAnalyticsOverview
      parameters:
      - description: Serial
        in: path
        name: serial
        required: true
        schema:
          type: string
      - description: The beginning of the timespan for the data. The maximum lookback
          period is 365 days from today.
        in: query
        name: t0
        schema:
          type: string
      - description: The end of the timespan for the data. t1 can be a maximum of
          7 days after t0.
        in: query
        name: t1
        schema:
          type: string
      - description: The timespan for which the information will be fetched. If specifying
          timespan, do not specify parameters t0 and t1. The value must be in seconds
          and be less than or equal to 7 days. The default is 1 hour.
        in: query
        name: timespan
        schema:
          format: float
          type: number
      - description: '[optional] The object type for which analytics will be retrieved.
          The default object type is person. The available types are [person, vehicle].'
        in: query
        name: objectType
        schema:
          enum:
          - person
          - vehicle
          type: string
      responses:
        "200":
          content:
            application/json:
              example:
              - startTs: 2018-08-15T18:32:38.123Z
                endTs: 2018-08-15T18:33:38.123Z
                zoneId: 0
                entrances: 254
                averageCount: 5
              schema:
                items:
                  properties: {}
                  type: object
                type: array
          description: Successful operation
      summary: Returns an overview of aggregate analytics data for a timespan
      tags:
      - camera
      - monitor
      - analytics
      - overview
  /devices/{serial}/camera/analytics/recent:
    get:
      description: Returns most recent record for analytics zones
      operationId: getDeviceCameraAnalyticsRecent
      parameters:
      - description: Serial
        in: path
        name: serial
        required: true
        schema:
          type: string
      - description: '[optional] The object type for which analytics will be retrieved.
          The default object type is person. The available types are [person, vehicle].'
        in: query
        name: objectType
        schema:
          enum:
          - person
          - vehicle
          type: string
      responses:
        "200":
          content:
            application/json:
              example:
              - startTs: 2018-08-15T18:32:38.123Z
                endTs: 2018-08-15T18:33:38.123Z
                zoneId: 0
                entrances: 10
                averageCount: 2.54
              schema:
                items:
                  properties: {}
                  type: object
                type: array
          description: Successful operation
      summary: Returns most recent record for analytics zones
      tags:
      - camera
      - monitor
      - analytics
      - recent
  /devices/{serial}/camera/analytics/zones:
    get:
      description: Returns all configured analytic zones for this camera
      operationId: getDeviceCameraAnalyticsZones
      parameters:
      - description: Serial
        in: path
        name: serial
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              example:
              - id: "0"
                type: occupancy
                label: Full Frame
                regionOfInterest:
                  x0: "0.00"
                  y0: "0.00"
                  x1: "1.00"
                  y1: "1.00"
              schema:
                items:
                  properties: {}
                  type: object
                type: array
          description: Successful operation
      summary: Returns all configured analytic zones for this camera
      tags:
      - camera
      - monitor
      - analytics
      - zones
  /devices/{serial}/camera/analytics/zones/{zoneId}/history:
    get:
      description: Return historical records for analytic zones
      operationId: getDeviceCameraAnalyticsZoneHistory
      parameters:
      - description: Serial
        in: path
        name: serial
        required: true
        schema:
          type: string
      - description: Zone ID
        in: path
        name: zoneId
        required: true
        schema:
          type: string
      - description: The beginning of the timespan for the data. The maximum lookback
          period is 365 days from today.
        in: query
        name: t0
        schema:
          type: string
      - description: The end of the timespan for the data. t1 can be a maximum of
          14 hours after t0.
        in: query
        name: t1
        schema:
          type: string
      - description: The timespan for which the information will be fetched. If specifying
          timespan, do not specify parameters t0 and t1. The value must be in seconds
          and be less than or equal to 14 hours. The default is 1 hour.
        in: query
        name: timespan
        schema:
          format: float
          type: number
      - description: 'The time resolution in seconds for returned data. The valid
          resolutions are: 60. The default is 60.'
        in: query
        name: resolution
        schema:
          type: integer
      - description: '[optional] The object type for which analytics will be retrieved.
          The default object type is person. The available types are [person, vehicle].'
        in: query
        name: objectType
        schema:
          enum:
          - person
          - vehicle
          type: string
      responses:
        "200":
          content:
            application/json:
              example:
              - startTs: 2018-08-15T18:32:38.123Z
                endTs: 2018-08-15T18:33:38.123Z
                entrances: 5
                averageCount: 1.5
              schema:
                items:
                  properties: {}
                  type: object
                type: array
          description: Successful operation
      summary: Return historical records for analytic zones
      tags:
      - camera
      - monitor
      - analytics
      - zones
      - history
  /devices/{serial}/camera/customAnalytics:
    get:
      description: Return custom analytics settings for a camera
      operationId: getDeviceCameraCustomAnalytics
      parameters:
      - description: Serial
        in: path
        name: serial
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              example:
                enabled: true
                artifactId: "1"
                parameters:
                - name: detection_threshold
                  value: 0.5
              schema:
                type: object
          description: Successful operation
      summary: Return custom analytics settings for a camera
      tags:
      - camera
      - configure
      - customAnalytics
    put:
      description: Update custom analytics settings for a camera
      operationId: updateDeviceCameraCustomAnalytics
      parameters:
      - description: Serial
        in: path
        name: serial
        required: true
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/inline_object_3'
        content:
          application/json:
            schema:
              example:
                enabled: true
                artifactId: "1"
                parameters:
                - name: detection_threshold
                  value: "0.5"
              properties:
                enabled:
                  description: Enable custom analytics
                  type: boolean
                artifactId:
                  description: The ID of the custom analytics artifact
                  type: string
                parameters:
                  description: Parameters for the custom analytics workload
                  items:
                    $ref: '#/components/schemas/_devices__serial__camera_customAnalytics_parameters'
                  type: array
              type: object
        required: false
      responses:
        "200":
          content:
            application/json:
              example:
                enabled: true
                artifactId: "1"
                parameters:
                - name: detection_threshold
                  value: 0.5
              schema:
                type: object
          description: Successful operation
      summary: Update custom analytics settings for a camera
      tags:
      - camera
      - configure
      - customAnalytics
      x-codegen-request-body-name: updateDeviceCameraCustomAnalytics
  /devices/{serial}/camera/generateSnapshot:
    post:
      description: Generate a snapshot of what the camera sees at the specified time
        and return a link to that image.
      operationId: generateDeviceCameraSnapshot
      parameters:
      - description: Serial
        in: path
        name: serial
        required: true
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/inline_object_4'
        content:
          application/json:
            schema:
              example:
                timestamp: 2021-04-30T15:18:08Z
                fullframe: false
              properties:
                timestamp:
                  description: '[optional] The snapshot will be taken from this time
                    on the camera. The timestamp is expected to be in ISO 8601 format.
                    If no timestamp is specified, we will assume current time.'
                  format: date-time
                  type: string
                fullframe:
                  description: '[optional] If set to "true" the snapshot will be taken
                    at full sensor resolution. This will error if used with timestamp.'
                  type: boolean
              type: object
        required: false
      responses:
        "202":
          content:
            application/json:
              example:
                url: https://spn4.meraki.com/stream/jpeg/snapshot/b2d123asdf423qd22d2
                expiry: Access to the image will expire at 2018-12-11T03:12:39Z.
              schema:
                type: object
          description: Successful operation
      summary: Generate a snapshot of what the camera sees at the specified time and
        return a link to that image.
      tags:
      - camera
      - monitor
      x-codegen-request-body-name: generateDeviceCameraSnapshot
  /devices/{serial}/camera/qualityAndRetention:
    get:
      description: Returns quality and retention settings for the given camera
      operationId: getDeviceCameraQualityAndRetention
      parameters:
      - description: Serial
        in: path
        name: serial
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              example:
                motionBasedRetentionEnabled: false
                audioRecordingEnabled: false
                restrictedBandwidthModeEnabled: false
                profileId: "1234"
                quality: Standard
                motionDetectorVersion: 2
                resolution: 1280x720
              schema:
                type: object
          description: Successful operation
      summary: Returns quality and retention settings for the given camera
      tags:
      - camera
      - configure
      - qualityAndRetention
    put:
      description: Update quality and retention settings for the given camera
      operationId: updateDeviceCameraQualityAndRetention
      parameters:
      - description: Serial
        in: path
        name: serial
        required: true
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/inline_object_5'
        content:
          application/json:
            schema:
              example:
                motionBasedRetentionEnabled: false
                audioRecordingEnabled: false
                restrictedBandwidthModeEnabled: false
                profileId: "1234"
                quality: Standard
                motionDetectorVersion: 2
                resolution: 1280x720
              properties:
                profileId:
                  description: The ID of a quality and retention profile to assign
                    to the camera. The profile's settings will override all of the
                    per-camera quality and retention settings. If the value of this
                    parameter is null, any existing profile will be unassigned from
                    the camera.
                  type: string
                motionBasedRetentionEnabled:
                  description: Boolean indicating if motion-based retention is enabled(true)
                    or disabled(false) on the camera.
                  type: boolean
                audioRecordingEnabled:
                  description: Boolean indicating if audio recording is enabled(true)
                    or disabled(false) on the camera
                  type: boolean
                restrictedBandwidthModeEnabled:
                  description: Boolean indicating if restricted bandwidth is enabled(true)
                    or disabled(false) on the camera. This setting does not apply
                    to MV2 cameras.
                  type: boolean
                quality:
                  description: Quality of the camera. Can be one of 'Standard', 'High'
                    or 'Enhanced'. Not all qualities are supported by every camera
                    model.
                  enum:
                  - Enhanced
                  - High
                  - Standard
                  type: string
                resolution:
                  description: Resolution of the camera. Can be one of '1280x720',
                    '1920x1080', '1080x1080', '2058x2058', '2112x2112', '2880x2880',
                    '2688x1512' or '3840x2160'.Not all resolutions are supported by
                    every camera model.
                  enum:
                  - 1080x1080
                  - 1280x720
                  - 1920x1080
                  - 2058x2058
                  - 2112x2112
                  - 2688x1512
                  - 2880x2880
                  - 3840x2160
                  type: string
                motionDetectorVersion:
                  description: The version of the motion detector that will be used
                    by the camera. Only applies to Gen 2 cameras. Defaults to v2.
                  type: integer
              type: object
        required: false
      responses:
        "200":
          content:
            application/json:
              example:
                motionBasedRetentionEnabled: false
                audioRecordingEnabled: false
                restrictedBandwidthModeEnabled: false
                profileId: "1234"
                quality: Standard
                motionDetectorVersion: 2
                resolution: 1280x720
              schema:
                type: object
          description: Successful operation
      summary: Update quality and retention settings for the given camera
      tags:
      - camera
      - configure
      - qualityAndRetention
      x-codegen-request-body-name: updateDeviceCameraQualityAndRetention
  /devices/{serial}/camera/sense:
    get:
      description: Returns sense settings for a given camera
      operationId: getDeviceCameraSense
      parameters:
      - description: Serial
        in: path
        name: serial
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              example:
                senseEnabled: true
                audioDetection:
                  enabled: false
                mqttBrokerId: "1234"
                mqttTopics:
                - /merakimv/Q2AA-AAAA-1111/raw_detections
                - /merakimv/Q2AA-AAAA-1111/light
              schema:
                type: object
          description: Successful operation
      summary: Returns sense settings for a given camera
      tags:
      - camera
      - configure
      - sense
    put:
      description: Update sense settings for the given camera
      operationId: updateDeviceCameraSense
      parameters:
      - description: Serial
        in: path
        name: serial
        required: true
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/inline_object_6'
        content:
          application/json:
            schema:
              example:
                senseEnabled: true
                audioDetection:
                  enabled: false
                mqttBrokerId: "1234"
              properties:
                senseEnabled:
                  description: Boolean indicating if sense(license) is enabled(true)
                    or disabled(false) on the camera
                  type: boolean
                mqttBrokerId:
                  description: The ID of the MQTT broker to be enabled on the camera.
                    A value of null will disable MQTT on the camera
                  type: string
                audioDetection:
                  $ref: '#/components/schemas/_devices__serial__camera_sense_audioDetection'
                detectionModelId:
                  description: The ID of the object detection model
                  type: string
              type: object
        required: false
      responses:
        "200":
          content:
            application/json:
              example:
                senseEnabled: true
                audioDetection:
                  enabled: false
                mqttBrokerId: "1234"
                mqttTopics:
                - /merakimv/Q2AA-AAAA-1111/raw_detections
                - /merakimv/Q2AA-AAAA-1111/light
              schema:
                type: object
          description: Successful operation
      summary: Update sense settings for the given camera
      tags:
      - camera
      - configure
      - sense
      x-codegen-request-body-name: updateDeviceCameraSense
  /devices/{serial}/camera/sense/objectDetectionModels:
    get:
      description: Returns the MV Sense object detection model list for the given
        camera
      operationId: getDeviceCameraSenseObjectDetectionModels
      parameters:
      - description: Serial
        in: path
        name: serial
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              example:
              - id: "0"
                description: Model A
              schema:
                items:
                  properties: {}
                  type: object
                type: array
          description: Successful operation
      summary: Returns the MV Sense object detection model list for the given camera
      tags:
      - camera
      - configure
      - sense
      - objectDetectionModels
  /devices/{serial}/camera/video/settings:
    get:
      description: Returns video settings for the given camera
      operationId: getDeviceCameraVideoSettings
      parameters:
      - description: Serial
        in: path
        name: serial
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              example:
                externalRtspEnabled: true
                rtspUrl: rtsp://10.0.0.1:9000/live
              schema:
                type: object
          description: Successful operation
      summary: Returns video settings for the given camera
      tags:
      - camera
      - configure
      - video
      - settings
    put:
      description: Update video settings for the given camera
      operationId: updateDeviceCameraVideoSettings
      parameters:
      - description: Serial
        in: path
        name: serial
        required: true
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/inline_object_7'
        content:
          application/json:
            schema:
              example:
                externalRtspEnabled: true
              properties:
                externalRtspEnabled:
                  description: Boolean indicating if external rtsp stream is exposed
                  type: boolean
              type: object
        required: false
      responses:
        "200":
          content:
            application/json:
              example:
                externalRtspEnabled: true
                rtspUrl: rtsp://10.0.0.1:9000/live
              schema:
                type: object
          description: Successful operation
      summary: Update video settings for the given camera
      tags:
      - camera
      - configure
      - video
      - settings
      x-codegen-request-body-name: updateDeviceCameraVideoSettings
  /devices/{serial}/camera/videoLink:
    get:
      description: Returns video link to the specified camera. If a timestamp is supplied,
        it links to that timestamp.
      operationId: getDeviceCameraVideoLink
      parameters:
      - description: Serial
        in: path
        name: serial
        required: true
        schema:
          type: string
      - description: '[optional] The video link will start at this time. The timestamp
          should be a string in ISO8601 format. If no timestamp is specified, we will
          assume current time.'
        in: query
        name: timestamp
        schema:
          format: date-time
          type: string
      responses:
        "200":
          content:
            application/json:
              example:
                url: https://nxx.meraki.com/office-cameras/n/bs0a1k/manage/nodes/new_list/29048243992402?timestamp=1535732570077
              schema:
                type: object
          description: Successful operation
      summary: Returns video link to the specified camera
      tags:
      - camera
      - configure
      - videoLink
  /devices/{serial}/camera/wirelessProfiles:
    get:
      description: Returns wireless profile assigned to the given camera
      operationId: getDeviceCameraWirelessProfiles
      parameters:
      - description: Serial
        in: path
        name: serial
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              example:
                ids:
                  primary: "3"
                  secondary: "2"
                  backup: "1"
              schema:
                type: object
          description: Successful operation
      summary: Returns wireless profile assigned to the given camera
      tags:
      - camera
      - configure
      - wirelessProfiles
    put:
      description: Assign wireless profiles to the given camera. Incremental updates
        are not supported, all profile assignment need to be supplied at once.
      operationId: updateDeviceCameraWirelessProfiles
      parameters:
      - description: Serial
        in: path
        name: serial
        required: true
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/inline_object_8'
        content:
          application/json:
            schema:
              example:
                ids:
                  primary: "3"
                  secondary: "2"
                  backup: "1"
              properties:
                ids:
                  $ref: '#/components/schemas/_devices__serial__camera_wirelessProfiles_ids'
              required:
              - ids
              type: object
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                ids:
                  primary: "3"
                  secondary: "2"
                  backup: "1"
              schema:
                type: object
          description: Successful operation
      summary: Assign wireless profiles to the given camera
      tags:
      - camera
      - configure
      - wirelessProfiles
      x-codegen-request-body-name: updateDeviceCameraWirelessProfiles
  /devices/{serial}/cellular/sims:
    get:
      description: Return the SIM and APN configurations for a cellular device.
      operationId: getDeviceCellularSims
      parameters:
      - description: Serial
        in: path
        name: serial
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              example:
                sims:
                - slot: sim1
                  isPrimary: true
                  apns:
                  - name: internet
                    allowedIpTypes:
                    - ipv4
                    - ipv6
                    authentication:
                      type: pap
                      username: milesmeraki
              schema:
                type: object
          description: Successful operation
      summary: Return the SIM and APN configurations for a cellular device.
      tags:
      - devices
      - configure
      - cellular
      - sims
    put:
      description: Updates the SIM and APN configurations for a cellular device.
      operationId: updateDeviceCellularSims
      parameters:
      - description: Serial
        in: path
        name: serial
        required: true
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/inline_object_9'
        content:
          application/json:
            schema:
              example:
                slot: sim1
                isPrimary: true
                apns:
                - name: internet
                  allowedIpTypes:
                  - ipv4
                  - ipv6
                  authentication:
                    type: pap
                    username: milesmeraki
                    password: secret
              properties:
                sims:
                  description: List of SIMs. If a SIM was previously configured and
                    not specified in this request, it will remain unchanged.
                  items:
                    $ref: '#/components/schemas/_devices__serial__cellular_sims_sims'
                  type: array
                simFailover:
                  $ref: '#/components/schemas/_devices__serial__cellular_sims_simFailover'
              type: object
        required: false
      responses:
        "200":
          content:
            application/json:
              example:
                sims:
                - slot: sim1
                  isPrimary: true
                  apns:
                  - name: internet
                    allowedIpTypes:
                    - ipv4
                    - ipv6
                    authentication:
                      type: pap
                      username: milesmeraki
              schema:
                type: object
          description: Successful operation
      summary: Updates the SIM and APN configurations for a cellular device.
      tags:
      - devices
      - configure
      - cellular
      - sims
      x-codegen-request-body-name: updateDeviceCellularSims
  /devices/{serial}/cellularGateway/lan:
    get:
      description: Show the LAN Settings of a MG
      operationId: getDeviceCellularGatewayLan
      parameters:
      - description: Serial
        in: path
        name: serial
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              example:
                deviceName: name of the MG
                deviceLanIp: 192.168.0.33
                deviceSubnet: 192.168.0.32/27
                fixedIpAssignments:
                - mac: 0b:00:00:00:00:ac
                  name: server 1
                  ip: 192.168.0.10
                - mac: 0b:00:00:00:00:ab
                  name: server 2
                  ip: 192.168.0.20
                reservedIpRanges:
                - start: 192.168.1.0
                  end: 192.168.1.1
                  comment: A reserved IP range
              schema:
                type: object
          description: Successful operation
      summary: Show the LAN Settings of a MG
      tags:
      - cellularGateway
      - configure
      - lan
    put:
      description: Update the LAN Settings for a single MG.
      operationId: updateDeviceCellularGatewayLan
      parameters:
      - description: Serial
        in: path
        name: serial
        required: true
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/inline_object_10'
        content:
          application/json:
            schema:
              example:
                deviceName: name of the MG
                deviceLanIp: 192.168.0.33
                deviceSubnet: 192.168.0.32/27
                fixedIpAssignments:
                - mac: 0b:00:00:00:00:ac
                  name: server 1
                  ip: 192.168.0.10
                - mac: 0b:00:00:00:00:ab
                  name: server 2
                  ip: 192.168.0.20
                reservedIpRanges:
                - start: 192.168.1.0
                  end: 192.168.1.1
                  comment: A reserved IP range
              properties:
                reservedIpRanges:
                  description: list of all reserved IP ranges for a single MG
                  items:
                    $ref: '#/components/schemas/_devices__serial__cellularGateway_lan_reservedIpRanges'
                  type: array
                fixedIpAssignments:
                  description: list of all fixed IP assignments for a single MG
                  items:
                    $ref: '#/components/schemas/_devices__serial__cellularGateway_lan_fixedIpAssignments'
                  type: array
              type: object
        required: false
      responses:
        "200":
          content:
            application/json:
              example:
                deviceName: name of the MG
                deviceLanIp: 192.168.0.33
                deviceSubnet: 192.168.0.32/27
                fixedIpAssignments:
                - mac: 0b:00:00:00:00:ac
                  name: server 1
                  ip: 192.168.0.10
                - mac: 0b:00:00:00:00:ab
                  name: server 2
                  ip: 192.168.0.20
                reservedIpRanges:
                - start: 192.168.1.0
                  end: 192.168.1.1
                  comment: A reserved IP range
              schema:
                type: object
          description: Successful operation
      summary: Update the LAN Settings for a single MG.
      tags:
      - cellularGateway
      - configure
      - lan
      x-codegen-request-body-name: updateDeviceCellularGatewayLan
  /devices/{serial}/cellularGateway/portForwardingRules:
    get:
      description: Returns the port forwarding rules for a single MG.
      operationId: getDeviceCellularGatewayPortForwardingRules
      parameters:
      - description: Serial
        in: path
        name: serial
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              example:
                rules:
                - lanIp: 172.31.128.5
                  name: test
                  access: any
                  publicPort: 11-12
                  localPort: "4"
                  uplink: both
                  protocol: tcp
                - lanIp: 172.31.128.5
                  name: test 2
                  access: restricted
                  allowedIps:
                  - 10.10.10.10
                  - 10.10.10.11
                  publicPort: "99"
                  localPort: "5"
                  uplink: both
                  protocol: tcp
              schema:
                type: object
          description: Successful operation
      summary: Returns the port forwarding rules for a single MG.
      tags:
      - cellularGateway
      - configure
      - portForwardingRules
    put:
      description: Updates the port forwarding rules for a single MG.
      operationId: updateDeviceCellularGatewayPortForwardingRules
      parameters:
      - description: Serial
        in: path
        name: serial
        required: true
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/inline_object_11'
        content:
          application/json:
            schema:
              example:
                rules:
                - lanIp: 172.31.128.5
                  name: test
                  access: any
                  publicPort: 11-12
                  localPort: "4"
                  uplink: both
                  protocol: tcp
                - lanIp: 172.31.128.5
                  name: test 2
                  access: restricted
                  allowedIps:
                  - 10.10.10.10
                  - 10.10.10.11
                  publicPort: "99"
                  localPort: "5"
                  uplink: both
                  protocol: tcp
              properties:
                rules:
                  description: An array of port forwarding params
                  items:
                    $ref: '#/components/schemas/_devices__serial__cellularGateway_portForwardingRules_rules'
                  type: array
              type: object
        required: false
      responses:
        "200":
          content:
            application/json:
              example:
                rules:
                - lanIp: 172.31.128.5
                  name: test
                  access: any
                  publicPort: 11-12
                  localPort: "4"
                  uplink: both
                  protocol: tcp
                - lanIp: 172.31.128.5
                  name: test 2
                  access: restricted
                  allowedIps:
                  - 10.10.10.10
                  - 10.10.10.11
                  publicPort: "99"
                  localPort: "5"
                  uplink: both
                  protocol: tcp
              schema:
                type: object
          description: Successful operation
      summary: Updates the port forwarding rules for a single MG.
      tags:
      - cellularGateway
      - configure
      - portForwardingRules
      x-codegen-request-body-name: updateDeviceCellularGatewayPortForwardingRules
  /devices/{serial}/clients:
    get:
      description: List the clients of a device, up to a maximum of a month ago. The
        usage of each client is returned in kilobytes. If the device is a switch,
        the switchport is returned; otherwise the switchport field is null.
      operationId: getDeviceClients
      parameters:
      - description: Serial
        in: path
        name: serial
        required: true
        schema:
          type: string
      - description: The beginning of the timespan for the data. The maximum lookback
          period is 31 days from today.
        in: query
        name: t0
        schema:
          type: string
      - description: The timespan for which the information will be fetched. If specifying
          timespan, do not specify parameter t0. The value must be in seconds and
          be less than or equal to 31 days. The default is 1 day.
        in: query
        name: timespan
        schema:
          format: float
          type: number
      responses:
        "200":
          content:
            application/json:
              example:
              - usage:
                  sent: 138.0
                  recv: 61.0
                id: k74272e
                description: Miles's phone
                mac: 22:33:44:55:66:77
                ip: 1.2.3.4
                user: milesmeraki
                vlan: "255"
                namedVlan: Named Vlan
                mdnsName: Miles's phone
                dhcpHostname: MilesPhone
              schema:
                items:
                  properties: {}
                  type: object
                type: array
          description: Successful operation
      summary: List the clients of a device, up to a maximum of a month ago
      tags:
      - devices
      - monitor
      - clients
  /devices/{serial}/liveTools/ping:
    post:
      description: Enqueue a job to ping a target host from the device
      operationId: createDeviceLiveToolsPing
      parameters:
      - description: Serial
        in: path
        name: serial
        required: true
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/inline_object_12'
        content:
          application/json:
            schema:
              example:
                target: 75.75.75.75
                count: 2
              properties:
                target:
                  description: FQDN, IPv4 or IPv6 address
                  type: string
                count:
                  description: Count parameter to pass to ping. [1..5], default 5
                  type: integer
              required:
              - target
              type: object
        required: true
      responses:
        "201":
          content:
            application/json:
              example:
                pingId: "1284392014819"
                url: /devices/SERIAL/liveTools/ping/1284392014819
                request:
                  serial: Q234-ABCD-5678
                  target: 75.75.75.75
                  count: 2
                status: complete
              schema:
                $ref: '#/components/schemas/inline_response_201_1'
          description: Successful operation
      summary: Enqueue a job to ping a target host from the device
      tags:
      - devices
      - liveTools
      - ping
      x-codegen-request-body-name: createDeviceLiveToolsPing
  /devices/{serial}/liveTools/ping/{id}:
    get:
      description: Return a ping job. Latency unit in response is in milliseconds.
        Size is in bytes.
      operationId: getDeviceLiveToolsPing
      parameters:
      - description: Serial
        in: path
        name: serial
        required: true
        schema:
          type: string
      - description: Id
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              example:
                pingId: "1284392014819"
                url: /devices/SERIAL/liveTools/ping/1284392014819
                request:
                  serial: Q234-ABCD-5678
                  target: 75.75.75.75
                  count: 2
                status: complete
                results:
                  sent: 5
                  received: 5
                  loss:
                    percentage: 0.0
                  latencies:
                    minimum: 15.8
                    average: 15.8
                    maximum: 15.9
                  replies:
                  - sequenceId: 1
                    size: 84
                    latency: 15.7
              schema:
                $ref: '#/components/schemas/inline_response_200_2'
          description: Successful operation
      summary: Return a ping job
      tags:
      - devices
      - liveTools
      - ping
  /devices/{serial}/liveTools/pingDevice:
    post:
      description: Enqueue a job to check connectivity status to the device
      operationId: createDeviceLiveToolsPingDevice
      parameters:
      - description: Serial
        in: path
        name: serial
        required: true
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/inline_object_13'
        content:
          application/json:
            schema:
              example:
                count: 3
              properties:
                count:
                  description: Count parameter to pass to ping. [1..5], default 5
                  type: integer
              type: object
        required: false
      responses:
        "201":
          content:
            application/json:
              example:
                pingId: "1284392014819"
                url: /devices/SERIAL/liveTools/ping/1284392014819
                request:
                  serial: Q234-ABCD-5678
                  target: 75.75.75.75
                  count: 2
                status: complete
              schema:
                $ref: '#/components/schemas/inline_response_201_1'
          description: Successful operation
      summary: Enqueue a job to check connectivity status to the device
      tags:
      - devices
      - liveTools
      - pingDevice
      x-codegen-request-body-name: createDeviceLiveToolsPingDevice
  /devices/{serial}/liveTools/pingDevice/{id}:
    get:
      description: Return a ping device job. Latency unit in response is in milliseconds.
        Size is in bytes.
      operationId: getDeviceLiveToolsPingDevice
      parameters:
      - description: Serial
        in: path
        name: serial
        required: true
        schema:
          type: string
      - description: Id
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              example:
                pingId: "1284392014819"
                url: /devices/SERIAL/liveTools/ping/1284392014819
                request:
                  serial: Q234-ABCD-5678
                  target: 75.75.75.75
                  count: 2
                status: complete
                results:
                  sent: 5
                  received: 5
                  loss:
                    percentage: 0.0
                  latencies:
                    minimum: 15.8
                    average: 15.8
                    maximum: 15.9
                  replies:
                  - sequenceId: 1
                    size: 84
                    latency: 15.7
              schema:
                $ref: '#/components/schemas/inline_response_200_2'
          description: Successful operation
      summary: Return a ping device job
      tags:
      - devices
      - liveTools
      - pingDevice
  /devices/{serial}/lldpCdp:
    get:
      description: List LLDP and CDP information for a device
      operationId: getDeviceLldpCdp
      parameters:
      - description: Serial
        in: path
        name: serial
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              example:
                sourceMac: 00:11:22:33:44:55
                ports:
                  "8":
                    cdp:
                      deviceId: e0553d8cdf53
                      portId: Port 10
                      address: 00:11:22:33:44:55
                      sourcePort: "8"
                  "12":
                    cdp:
                      deviceId: e0553d8cdf53
                      portId: Port 11
                      address: 00:11:22:33:44:55
                      sourcePort: "12"
                    lldp:
                      systemName: Meraki MS350-24X - Phineas
                      portId: "11"
                      managementAddress: 00:11:22:33:44:55
                      sourcePort: "12"
              schema:
                type: object
          description: Successful operation
      summary: List LLDP and CDP information for a device
      tags:
      - devices
      - monitor
      - lldpCdp
  /devices/{serial}/lossAndLatencyHistory:
    get:
      description: Get the uplink loss percentage and latency in milliseconds, and
        goodput in kilobits per second for a wired network device.
      operationId: getDeviceLossAndLatencyHistory
      parameters:
      - description: Serial
        in: path
        name: serial
        required: true
        schema:
          type: string
      - description: The beginning of the timespan for the data. The maximum lookback
          period is 60 days from today.
        in: query
        name: t0
        schema:
          type: string
      - description: The end of the timespan for the data. t1 can be a maximum of
          31 days after t0.
        in: query
        name: t1
        schema:
          type: string
      - description: The timespan for which the information will be fetched. If specifying
          timespan, do not specify parameters t0 and t1. The value must be in seconds
          and be less than or equal to 31 days. The default is 1 day.
        in: query
        name: timespan
        schema:
          format: float
          type: number
      - description: 'The time resolution in seconds for returned data. The valid
          resolutions are: 60, 600, 3600, 86400. The default is 60.'
        in: query
        name: resolution
        schema:
          type: integer
      - description: The WAN uplink used to obtain the requested stats. Valid uplinks
          are wan1, wan2, cellular. The default is wan1.
        in: query
        name: uplink
        schema:
          enum:
          - cellular
          - wan1
          - wan2
          type: string
      - description: The destination IP used to obtain the requested stats. This is
          required.
        in: query
        name: ip
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              example:
              - startTime: 2018-10-09T22:18:27Z
                endTime: 2018-10-09T22:19:27Z
                lossPercent: 5.23
                latencyMs: 324.12
                goodput: 1493
                jitter: 11.2
              - startTime: 2018-10-09T22:19:27Z
                endTime: 2018-10-09T22:20:27Z
                lossPercent: 1.0
                latencyMs: 43.0
                goodput: 2567
                jitter: 3.4
              - startTime: 2018-10-09T22:20:27Z
                endTime: 2018-10-09T22:21:27Z
                lossPercent: 0.01
                latencyMs: 44.02
                goodput: 7899
                jitter: 1.0
              schema:
                items:
                  properties: {}
                  type: object
                type: array
          description: Successful operation
      summary: Get the uplink loss percentage and latency in milliseconds, and goodput
        in kilobits per second for a wired network device.
      tags:
      - devices
      - monitor
      - uplinks
      - lossAndLatencyHistory
  /devices/{serial}/managementInterface:
    get:
      description: Return the management interface settings for a device
      operationId: getDeviceManagementInterface
      parameters:
      - description: Serial
        in: path
        name: serial
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              example:
                ddnsHostnames:
                  activeDdnsHostname: mx1-sample.dynamic-m.com
                  ddnsHostnameWan1: mx1-sample-1.dynamic-m.com
                  ddnsHostnameWan2: mx1-sample-2.dynamic-m.com
                wan1:
                  wanEnabled: not configured
                  usingStaticIp: true
                  staticIp: 1.2.3.4
                  staticSubnetMask: 255.255.255.0
                  staticGatewayIp: 1.2.3.1
                  staticDns:
                  - 1.2.3.2
                  - 1.2.3.3
                  vlan: 7
                wan2:
                  wanEnabled: enabled
                  usingStaticIp: false
                  vlan: 2
              schema:
                type: object
          description: Successful operation
      summary: Return the management interface settings for a device
      tags:
      - devices
      - configure
      - managementInterface
    put:
      description: Update the management interface settings for a device
      operationId: updateDeviceManagementInterface
      parameters:
      - description: Serial
        in: path
        name: serial
        required: true
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/inline_object_14'
        content:
          application/json:
            schema:
              example:
                wan1:
                  wanEnabled: not configured
                  usingStaticIp: true
                  staticIp: 1.2.3.4
                  staticSubnetMask: 255.255.255.0
                  staticGatewayIp: 1.2.3.1
                  staticDns:
                  - 1.2.3.2
                  - 1.2.3.3
                  vlan: 7
                wan2:
                  wanEnabled: enabled
                  usingStaticIp: false
                  vlan: 2
              properties:
                wan1:
                  $ref: '#/components/schemas/_devices__serial__managementInterface_wan1'
                wan2:
                  $ref: '#/components/schemas/_devices__serial__managementInterface_wan2'
              type: object
        required: false
      responses:
        "200":
          content:
            application/json:
              example:
                wan1:
                  wanEnabled: not configured
                  usingStaticIp: true
                  staticIp: 1.2.3.4
                  staticSubnetMask: 255.255.255.0
                  staticGatewayIp: 1.2.3.1
                  staticDns:
                  - 1.2.3.2
                  - 1.2.3.3
                  vlan: 7
                wan2:
                  wanEnabled: enabled
                  usingStaticIp: false
                  vlan: 2
              schema:
                type: object
          description: Successful operation
      summary: Update the management interface settings for a device
      tags:
      - devices
      - configure
      - managementInterface
      x-codegen-request-body-name: updateDeviceManagementInterface
  /devices/{serial}/reboot:
    post:
      description: Reboot a device
      operationId: rebootDevice
      parameters:
      - description: Serial
        in: path
        name: serial
        required: true
        schema:
          type: string
      responses:
        "202":
          content:
            application/json:
              example:
                success: true
              schema:
                type: object
          description: Successful operation
      summary: Reboot a device
      tags:
      - devices
      - liveTools
  /devices/{serial}/sensor/relationships:
    get:
      description: List the sensor roles for a given sensor or camera device.
      operationId: getDeviceSensorRelationships
      parameters:
      - description: Serial
        in: path
        name: serial
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              example:
              - livestream:
                  relatedDevices:
                  - serial: Q234-ABCD-5678
                    productType: camera
              schema:
                items:
                  $ref: '#/components/schemas/inline_response_200_3'
                type: array
          description: Successful operation
      summary: List the sensor roles for a given sensor or camera device.
      tags:
      - sensor
      - configure
      - relationships
    put:
      description: Assign one or more sensor roles to a given sensor or camera device.
      operationId: updateDeviceSensorRelationships
      parameters:
      - description: Serial
        in: path
        name: serial
        required: true
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/inline_object_15'
        content:
          application/json:
            schema:
              example: {}
              properties:
                livestream:
                  $ref: '#/components/schemas/_devices__serial__sensor_relationships_livestream_1'
              type: object
        required: false
      responses:
        "200":
          content:
            application/json:
              example:
                livestream:
                  relatedDevices:
                  - serial: Q234-ABCD-5678
                    productType: camera
              schema:
                $ref: '#/components/schemas/inline_response_200_3'
          description: Successful operation
      summary: Assign one or more sensor roles to a given sensor or camera device.
      tags:
      - sensor
      - configure
      - relationships
      x-codegen-request-body-name: updateDeviceSensorRelationships
  /devices/{serial}/switch/ports:
    get:
      description: List the switch ports for a switch
      operationId: getDeviceSwitchPorts
      parameters:
      - description: Serial
        in: path
        name: serial
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              example:
              - portId: "1"
                name: My switch port
                tags:
                - tag1
                - tag2
                enabled: true
                poeEnabled: true
                type: access
                vlan: 10
                voiceVlan: 20
                allowedVlans: 1,3,5-10
                isolationEnabled: false
                rstpEnabled: true
                stpGuard: disabled
                linkNegotiation: Auto negotiate
                linkNegotiationCapabilities:
                - Auto negotiate
                - 1 Gigabit full duplex (auto)
                portScheduleId: "1234"
                udld: Alert only
                accessPolicyType: Sticky MAC allow list
                accessPolicyNumber: 2
                macAllowList:
                - 34:56:fe:ce:8e:b0
                - 34:56:fe:ce:8e:b1
                stickyMacAllowList:
                - 34:56:fe:ce:8e:b0
                - 34:56:fe:ce:8e:b1
                stickyMacAllowListLimit: 5
                stormControlEnabled: true
                adaptivePolicyGroupId: "123"
                peerSgtCapable: false
                flexibleStackingEnabled: true
                daiTrusted: false
                profile:
                  enabled: false
                  id: "1284392014819"
                  iname: iname
              schema:
                items:
                  $ref: '#/components/schemas/inline_response_200_4'
                type: array
          description: Successful operation
      summary: List the switch ports for a switch
      tags:
      - switch
      - configure
      - ports
  /devices/{serial}/switch/ports/cycle:
    post:
      description: Cycle a set of switch ports
      operationId: cycleDeviceSwitchPorts
      parameters:
      - description: Serial
        in: path
        name: serial
        required: true
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/inline_object_16'
        content:
          application/json:
            schema:
              example:
                ports:
                - "1"
                - 2-5
                - 1_MA-MOD-8X10G_1
                - 1_MA-MOD-8X10G_2-1_MA-MOD-8X10G_8
              properties:
                ports:
                  description: List of switch ports
                  items:
                    type: string
                  type: array
              required:
              - ports
              type: object
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                ports:
                - "1"
                - 2-5
                - 1_MA-MOD-8X10G_1
                - 1_MA-MOD-8X10G_2-1_MA-MOD-8X10G_8
              schema:
                $ref: '#/components/schemas/inline_response_200_5'
          description: Successful operation
      summary: Cycle a set of switch ports
      tags:
      - switch
      - liveTools
      - ports
      x-codegen-request-body-name: cycleDeviceSwitchPorts
  /devices/{serial}/switch/ports/statuses:
    get:
      description: Return the status for all the ports of a switch
      operationId: getDeviceSwitchPortsStatuses
      parameters:
      - description: Serial
        in: path
        name: serial
        required: true
        schema:
          type: string
      - description: The beginning of the timespan for the data. The maximum lookback
          period is 31 days from today.
        in: query
        name: t0
        schema:
          type: string
      - description: The timespan for which the information will be fetched. If specifying
          timespan, do not specify parameter t0. The value must be in seconds and
          be less than or equal to 31 days. The default is 1 day.
        in: query
        name: timespan
        schema:
          format: float
          type: number
      responses:
        "200":
          content:
            application/json:
              example:
              - portId: "1"
                enabled: true
                status: Connected
                isUplink: false
                errors:
                - PoE overload
                - Very high proportion of CRC errors
                warnings:
                - SecureConnect authentication in progress
                - PoE port was denied power
                - High proportion of CRC errors
                speed: 10 Gbps
                duplex: full
                usageInKb:
                  total: 40867
                  sent: 23008
                  recv: 17859
                cdp:
                  systemName: ""
                  platform: MS350-24X
                  deviceId: 0c8ddbddee:ff
                  portId: Port 20
                  nativeVlan: 1
                  address: 10.0,0.1
                  managementAddress: 10.0.0.100
                  version: "1"
                  vtpManagementDomain: ""
                  capabilities: Switch
                lldp:
                  systemName: MS350-24X - Test
                  systemDescription: MS350-24X Cloud Managed PoE Switch
                  chassisId: 0c:8d:db:dd:ee:ff
                  portId: "20"
                  managementVlan: 1
                  portVlan: 1
                  managementAddress: 10.0.0.100
                  portDescription: Port 20
                  systemCapabilities: switch
                clientCount: 10
                powerUsageInWh: 55.9
                trafficInKbps:
                  total: 2.2
                  sent: 1.2
                  recv: 1.0
                securePort:
                  enabled: true
                  active: true
                  authenticationStatus: Authentication in progress
                  configOverrides:
                    type: trunk
                    vlan: 12
                    voiceVlan: 34
                    allowedVlans: all
              schema:
                items:
                  $ref: '#/components/schemas/inline_response_200_6'
                type: array
          description: Successful operation
      summary: Return the status for all the ports of a switch
      tags:
      - switch
      - monitor
      - ports
      - statuses
  /devices/{serial}/switch/ports/statuses/packets:
    get:
      description: Return the packet counters for all the ports of a switch
      operationId: getDeviceSwitchPortsStatusesPackets
      parameters:
      - description: Serial
        in: path
        name: serial
        required: true
        schema:
          type: string
      - description: The beginning of the timespan for the data. The maximum lookback
          period is 1 day from today.
        in: query
        name: t0
        schema:
          type: string
      - description: The timespan for which the information will be fetched. If specifying
          timespan, do not specify parameter t0. The value must be in seconds and
          be less than or equal to 1 day. The default is 1 day.
        in: query
        name: timespan
        schema:
          format: float
          type: number
      responses:
        "200":
          content:
            application/json:
              example:
              - portId: "1"
                packets:
                - desc: Total
                  total: 112081
                  sent: 104135
                  recv: 7946
                  ratePerSec:
                    total: 1
                    sent: 1
                    recv: 0
                - desc: Broadcast
                  total: 30884
                  sent: 30370
                  recv: 514
                  ratePerSec:
                    total: 0
                    sent: 0
                    recv: 0
                - desc: Multicast
                  total: 67620
                  sent: 66849
                  recv: 771
                  ratePerSec:
                    total: 0
                    sent: 0
                    recv: 0
                - desc: CRC align errors
                  total: 0
                  sent: 0
                  recv: 0
                  ratePerSec:
                    total: 0
                    sent: 0
                    recv: 0
              schema:
                items:
                  properties: {}
                  type: object
                type: array
          description: Successful operation
      summary: Return the packet counters for all the ports of a switch
      tags:
      - switch
      - monitor
      - ports
      - statuses
      - packets
  /devices/{serial}/switch/ports/{portId}:
    get:
      description: Return a switch port
      operationId: getDeviceSwitchPort
      parameters:
      - description: Serial
        in: path
        name: serial
        required: true
        schema:
          type: string
      - description: Port ID
        in: path
        name: portId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              example:
                portId: "1"
                name: My switch port
                tags:
                - tag1
                - tag2
                enabled: true
                poeEnabled: true
                type: access
                vlan: 10
                voiceVlan: 20
                allowedVlans: 1,3,5-10
                isolationEnabled: false
                rstpEnabled: true
                stpGuard: disabled
                linkNegotiation: Auto negotiate
                linkNegotiationCapabilities:
                - Auto negotiate
                - 1 Gigabit full duplex (auto)
                portScheduleId: "1234"
                udld: Alert only
                accessPolicyType: Sticky MAC allow list
                accessPolicyNumber: 2
                macAllowList:
                - 34:56:fe:ce:8e:b0
                - 34:56:fe:ce:8e:b1
                stickyMacAllowList:
                - 34:56:fe:ce:8e:b0
                - 34:56:fe:ce:8e:b1
                stickyMacAllowListLimit: 5
                stormControlEnabled: true
                adaptivePolicyGroupId: "123"
                peerSgtCapable: false
                flexibleStackingEnabled: true
                daiTrusted: false
                profile:
                  enabled: false
                  id: "1284392014819"
                  iname: iname
              schema:
                $ref: '#/components/schemas/inline_response_200_4'
          description: Successful operation
      summary: Return a switch port
      tags:
      - switch
      - configure
      - ports
    put:
      description: Update a switch port
      operationId: updateDeviceSwitchPort
      parameters:
      - description: Serial
        in: path
        name: serial
        required: true
        schema:
          type: string
      - description: Port ID
        in: path
        name: portId
        required: true
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/inline_object_17'
        content:
          application/json:
            schema:
              example:
                name: My switch port
                tags:
                - tag1
                - tag2
                enabled: true
                poeEnabled: true
                type: access
                vlan: 10
                voiceVlan: 20
                allowedVlans: 1,3,5-10
                isolationEnabled: false
                rstpEnabled: true
                stpGuard: disabled
                linkNegotiation: Auto negotiate
                portScheduleId: "1234"
                udld: Alert only
                accessPolicyType: Sticky MAC allow list
                accessPolicyNumber: 2
                macAllowList:
                - 34:56:fe:ce:8e:b0
                - 34:56:fe:ce:8e:b1
                stickyMacAllowList:
                - 34:56:fe:ce:8e:b0
                - 34:56:fe:ce:8e:b1
                stickyMacAllowListLimit: 5
                stormControlEnabled: true
                adaptivePolicyGroupId: "123"
                peerSgtCapable: false
                flexibleStackingEnabled: true
                daiTrusted: false
                profile:
                  enabled: false
                  id: "1284392014819"
                  iname: iname
              properties:
                name:
                  description: The name of the switch port.
                  type: string
                tags:
                  description: The list of tags of the switch port.
                  items:
                    type: string
                  type: array
                enabled:
                  description: The status of the switch port.
                  type: boolean
                poeEnabled:
                  description: The PoE status of the switch port.
                  type: boolean
                type:
                  description: The type of the switch port ('trunk' or 'access').
                  enum:
                  - access
                  - trunk
                  type: string
                vlan:
                  description: The VLAN of the switch port. A null value will clear
                    the value set for trunk ports.
                  type: integer
                voiceVlan:
                  description: The voice VLAN of the switch port. Only applicable
                    to access ports.
                  type: integer
                allowedVlans:
                  description: The VLANs allowed on the switch port. Only applicable
                    to trunk ports.
                  type: string
                isolationEnabled:
                  description: The isolation status of the switch port.
                  type: boolean
                rstpEnabled:
                  description: The rapid spanning tree protocol status.
                  type: boolean
                stpGuard:
                  description: The state of the STP guard ('disabled', 'root guard',
                    'bpdu guard' or 'loop guard').
                  enum:
                  - bpdu guard
                  - disabled
                  - loop guard
                  - root guard
                  type: string
                linkNegotiation:
                  description: The link speed for the switch port.
                  type: string
                portScheduleId:
                  description: The ID of the port schedule. A value of null will clear
                    the port schedule.
                  type: string
                udld:
                  description: The action to take when Unidirectional Link is detected
                    (Alert only, Enforce). Default configuration is Alert only.
                  enum:
                  - Alert only
                  - Enforce
                  type: string
                accessPolicyType:
                  description: The type of the access policy of the switch port. Only
                    applicable to access ports. Can be one of 'Open', 'Custom access
                    policy', 'MAC allow list' or 'Sticky MAC allow list'.
                  enum:
                  - Custom access policy
                  - MAC allow list
                  - Open
                  - Sticky MAC allow list
                  type: string
                accessPolicyNumber:
                  description: The number of a custom access policy to configure on
                    the switch port. Only applicable when 'accessPolicyType' is 'Custom
                    access policy'.
                  type: integer
                macAllowList:
                  description: Only devices with MAC addresses specified in this list
                    will have access to this port. Up to 20 MAC addresses can be defined.
                    Only applicable when 'accessPolicyType' is 'MAC allow list'.
                  items:
                    type: string
                  type: array
                stickyMacAllowList:
                  description: The initial list of MAC addresses for sticky Mac allow
                    list. Only applicable when 'accessPolicyType' is 'Sticky MAC allow
                    list'.
                  items:
                    type: string
                  type: array
                stickyMacAllowListLimit:
                  description: The maximum number of MAC addresses for sticky MAC
                    allow list. Only applicable when 'accessPolicyType' is 'Sticky
                    MAC allow list'.
                  type: integer
                stormControlEnabled:
                  description: The storm control status of the switch port.
                  type: boolean
                adaptivePolicyGroupId:
                  description: The adaptive policy group ID that will be used to tag
                    traffic through this switch port. This ID must pre-exist during
                    the configuration, else needs to be created using adaptivePolicy/groups
                    API. Cannot be applied to a port on a switch bound to profile.
                  type: string
                peerSgtCapable:
                  description: If true, Peer SGT is enabled for traffic through this
                    switch port. Applicable to trunk port only, not access port. Cannot
                    be applied to a port on a switch bound to profile.
                  type: boolean
                flexibleStackingEnabled:
                  description: For supported switches (e.g. MS420/MS425), whether
                    or not the port has flexible stacking enabled.
                  type: boolean
                daiTrusted:
                  description: If true, ARP packets for this port will be considered
                    trusted, and Dynamic ARP Inspection will allow the traffic.
                  type: boolean
                profile:
                  $ref: '#/components/schemas/_devices__serial__switch_ports_profile'
              type: object
        required: false
      responses:
        "200":
          content:
            application/json:
              example:
                portId: "1"
                name: My switch port
                tags:
                - tag1
                - tag2
                enabled: true
                poeEnabled: true
                type: access
                vlan: 10
                voiceVlan: 20
                allowedVlans: 1,3,5-10
                isolationEnabled: false
                rstpEnabled: true
                stpGuard: disabled
                linkNegotiation: Auto negotiate
                linkNegotiationCapabilities:
                - Auto negotiate
                - 1 Gigabit full duplex (auto)
                portScheduleId: "1234"
                udld: Alert only
                accessPolicyType: Sticky MAC allow list
                accessPolicyNumber: 2
                macAllowList:
                - 34:56:fe:ce:8e:b0
                - 34:56:fe:ce:8e:b1
                stickyMacAllowList:
                - 34:56:fe:ce:8e:b0
                - 34:56:fe:ce:8e:b1
                stickyMacAllowListLimit: 5
                stormControlEnabled: true
                adaptivePolicyGroupId: "123"
[...]
