openapi: 3.0.1
info:
  contact:
    name: Meraki Developer Community
    url: https://meraki.io/community
  description: |
    A RESTful API to programmatically manage and monitor Cisco Meraki networks at scale.

    > Date: 04 October, 2023
    >
    > [Recent Updates](https://meraki.io/whats-new/)

    ---

    [API Documentation](https://meraki.io/api)

    [Community Support](https://meraki.io/community)

    [Meraki Homepage](https://www.meraki.com)
  title: Meraki Dashboard API
  version: 1.38.0
servers:
- url: "https://api.meraki.com/{basePath}"
  variables:
    basePath:
      default: api/v1
security:
- meraki_api_key: []
- bearerAuth: []
tags:
- name: organizations
- name: networks
- name: devices
- name: insight
- name: wireless
- name: camera
- name: appliance
- name: switch
- name: cellularGateway
- name: sm
- name: sensor
- name: administered
- name: accessControlLists
- name: accessPolicies
- name: acls
- name: actionBatches
- name: adaptivePolicy
- name: addresses
- name: admins
- name: airMarshal
- name: alertTypes
- name: alerts
- name: alternateManagementInterface
- name: analytics
- name: apiRequests
- name: apnsCert
- name: appliances
- name: applicationCategories
- name: applicationUsage
- name: applications
- name: arpInspection
- name: artifacts
- name: assignments
- name: authenticationToken
- name: availabilities
- name: bandwidthUsageHistory
- name: bgp
- name: billing
- name: bluetooth
- name: bluetoothClients
- name: bonjourForwarding
- name: brandingPolicies
- name: byClient
- name: byDevice
- name: byEnergyUsage
- name: byInterval
- name: byMetric
- name: byNetwork
- name: bySwitch
- name: byUsage
- name: byUtilization
- name: bypassActivationLockAttempts
- name: categories
- name: cellular
- name: cellularFirewallRules
- name: cellularUsageHistory
- name: certs
- name: changeHistory
- name: channelUtilization
- name: channelUtilizationHistory
- name: claim
- name: clientCountHistory
- name: clients
- name: cloudMonitoring
- name: configTemplates
- name: configurationChanges
- name: configure
- name: connectionStats
- name: connectivity
- name: connectivityEvents
- name: connectivityMonitoringDestinations
- name: contentFiltering
- name: coterm
- name: current
- name: customAnalytics
- name: customPerformanceClasses
- name: dataRateHistory
- name: delegated
- name: desktopLogs
- name: deviceCommandLogs
- name: deviceProfiles
- name: deviceTypeGroupPolicies
- name: dhcp
- name: dhcpServerPolicy
- name: dscpTaggingOptions
- name: dscpToCosMappings
- name: eapOverride
- name: earlyAccess
- name: ethernet
- name: eventTypes
- name: events
- name: exportEvents
- name: failedConnections
- name: features
- name: fields
- name: firewall
- name: firewalledServices
- name: firmware
- name: firmwareUpgrades
- name: floorPlans
- name: groupPolicies
- name: groups
- name: health
- name: healthByTime
- name: history
- name: hotspot20
- name: httpServers
- name: identities
- name: identityPsks
- name: idps
- name: imports
- name: inboundCellularFirewallRules
- name: inboundFirewallRules
- name: interfaces
- name: intrusion
- name: inventory
- name: ipv6
- name: l3FirewallRules
- name: l7FirewallRules
- name: lan
- name: latencyHistory
- name: latencyStats
- name: latest
- name: licenses
- name: licensing
- name: linkAggregations
- name: linkLayer
- name: live
- name: liveTools
- name: lldpCdp
- name: loginSecurity
- name: logs
- name: lossAndLatencyHistory
- name: malware
- name: managementInterface
- name: manufacturers
- name: me
- name: merakiAuthUsers
- name: meshStatuses
- name: models
- name: monitor
- name: monitoredMediaServers
- name: mqttBrokers
- name: mtu
- name: multicast
- name: netflow
- name: networkAdapters
- name: networkHealth
- name: objectDetectionModels
- name: onboarding
- name: oneToManyNatRules
- name: oneToOneNatRules
- name: openapiSpec
- name: optIns
- name: order
- name: ospf
- name: overview
- name: packets
- name: payloadTemplates
- name: performance
- name: performanceHistory
- name: permissions
- name: pii
- name: piiKeys
- name: ping
- name: pingDevice
- name: policies
- name: policy
- name: policyObjects
- name: portForwardingRules
- name: portSchedules
- name: ports
- name: powerModules
- name: prefixes
- name: prepare
- name: priorities
- name: profiles
- name: provisioning
- name: qosRules
- name: qualityAndRetention
- name: qualityRetentionProfiles
- name: radio
- name: readings
- name: recent
- name: relationships
- name: rendezvousPoints
- name: requests
- name: responseCodes
- name: restrictions
- name: rfProfiles
- name: roles
- name: rollbacks
- name: routing
- name: rules
- name: saml
- name: samlRoles
- name: schedules
- name: search
- name: security
- name: securityCenters
- name: seen
- name: sense
- name: servers
- name: settings
- name: signalQualityHistory
- name: sims
- name: singleLan
- name: siteToSiteVpn
- name: smDevicesForKey
- name: smOwnersForKey
- name: snmp
- name: softwares
- name: splash
- name: splashAuthorizationStatus
- name: splashLoginAttempts
- name: ssids
- name: stacks
- name: staged
- name: stages
- name: staticRoutes
- name: statics
- name: stats
- name: status
- name: statuses
- name: stormControl
- name: stp
- name: subnetPool
- name: subnets
- name: summary
- name: switches
- name: syslogServers
- name: targetGroups
- name: thirdPartyVPNPeers
- name: top
- name: topology
- name: traffic
- name: trafficAnalysis
- name: trafficHistory
- name: trafficShaping
- name: trustedAccessConfigs
- name: trustedServers
- name: upgrades
- name: uplink
- name: uplinkBandwidth
- name: uplinkSelection
- name: uplinks
- name: uplinksLossAndLatency
- name: usage
- name: usageHistories
- name: usageHistory
- name: userAccessDevices
- name: users
- name: v4
- name: video
- name: videoLink
- name: vlanAssignments
- name: vlanProfiles
- name: vlans
- name: vmx
- name: vpn
- name: vpnExclusions
- name: vpnFirewallRules
- name: vppAccounts
- name: warmSpare
- name: warnings
- name: webhookTests
- name: webhooks
- name: wirelessProfiles
- name: wlanLists
- name: zones
paths:
  /administered/identities/me:
    get:
      description: Returns the identity of the current user.
      operationId: getAdministeredIdentitiesMe
      responses:
        "200":
          content:
            application/json:
              example:
                name: Miles Meraki
                email: miles@meraki.com
                lastUsedDashboardAt: 2018-02-11T00:00:00.090210Z
                authentication:
                  mode: email
                  api:
                    key:
                      created: true
                  twoFactor:
                    enabled: false
                  saml:
                    enabled: false
              schema:
                $ref: '#/components/schemas/getAdministeredIdentitiesMe_200_response'
          description: Successful operation
      summary: Returns the identity of the current user.
      tags:
      - administered
      - monitor
      - identities
      - me
  /devices/{serial}:
    get:
      description: Return a single device
      operationId: getDevice
      parameters:
      - description: Serial
        explode: false
        in: path
        name: serial
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                name: My AP
                lat: 37.4180951010362
                lng: -122.098531723022
                serial: Q234-ABCD-5678
                mac: 00:11:22:33:44:55
                model: MR34
                address: 1600 Pennsylvania Ave
                notes: My AP's note
                lanIp: 1.2.3.4
                tags:
                - recently-added
                networkId: N_24329156
                beaconIdParams:
                  uuid: 00000000-0000-0000-0000-000000000000
                  major: 5
                  minor: 3
                firmware: wireless-25-14
                floorPlanId: g_1234567
                details:
                - name: Catalyst serial
                  value: 123ABC
              schema:
                type: object
          description: Successful operation
      summary: Return a single device
      tags:
      - devices
      - configure
    put:
      description: Update the attributes of a device
      operationId: updateDevice
      parameters:
      - description: Serial
        explode: false
        in: path
        name: serial
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateDevice_request'
        required: false
      responses:
        "200":
          content:
            application/json:
              example:
                name: My AP
                lat: 37.4180951010362
                lng: -122.098531723022
                serial: Q234-ABCD-5678
                mac: 00:11:22:33:44:55
                model: MR34
                address: 1600 Pennsylvania Ave
                notes: My AP's note
                lanIp: 1.2.3.4
                tags:
                - recently-added
                networkId: N_24329156
                beaconIdParams:
                  uuid: 00000000-0000-0000-0000-000000000000
                  major: 5
                  minor: 3
                firmware: wireless-25-14
                floorPlanId: g_1234567
                details:
                - name: Catalyst serial
                  value: 123ABC
              schema:
                type: object
          description: Successful operation
      summary: Update the attributes of a device
      tags:
      - devices
      - configure
  /devices/{serial}/appliance/dhcp/subnets:
    get:
      description: Return the DHCP subnet information for an appliance
      operationId: getDeviceApplianceDhcpSubnets
      parameters:
      - description: Serial
        explode: false
        in: path
        name: serial
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
              - subnet: 192.168.1.0/24
                vlanId: 100
                usedCount: 2
                freeCount: 251
              schema:
                items:
                  type: object
                type: array
          description: Successful operation
      summary: Return the DHCP subnet information for an appliance
      tags:
      - appliance
      - monitor
      - dhcp
      - subnets
  /devices/{serial}/appliance/performance:
    get:
      description: "Return the performance score for a single MX. Only primary MX\
        \ devices supported. If no data is available, a 204 error code is returned."
      operationId: getDeviceAppliancePerformance
      parameters:
      - description: Serial
        explode: false
        in: path
        name: serial
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                perfScore: 10
              schema:
                type: object
          description: Successful operation
      summary: Return the performance score for a single MX
      tags:
      - appliance
      - monitor
      - performance
  /devices/{serial}/appliance/prefixes/delegated:
    get:
      description: Return current delegated IPv6 prefixes on an appliance.
      operationId: getDeviceAppliancePrefixesDelegated
      parameters:
      - description: Serial
        explode: false
        in: path
        name: serial
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
              - origin:
                  interface: wan1
                prefix: 2001:db8:3c4d:15::/64
                counts:
                  assigned: 2
                  available: 253
                method: auto
                description: My ISP provider
                isPreferred: true
                expiresAt: 2018-05-12T00:00:00Z
              schema:
                items:
                  type: object
                type: array
          description: Successful operation
      summary: Return current delegated IPv6 prefixes on an appliance.
      tags:
      - appliance
      - monitor
      - prefixes
      - delegated
  /devices/{serial}/appliance/prefixes/delegated/vlanAssignments:
    get:
      description: Return prefixes assigned to all IPv6 enabled VLANs on an appliance.
      operationId: getDeviceAppliancePrefixesDelegatedVlanAssignments
      parameters:
      - description: Serial
        explode: false
        in: path
        name: serial
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
              - vlan:
                  id: 100
                  name: My VLAN
                origin:
                  interface: wan1
                  prefix: 2001:db8:3c4d:15::/64
                status: Active
                ipv6:
                  prefix: 2001:db8:3c4d:15::/64
                  address: 2001:db8:3c4d:15::1
                  linkLocal:
                    address: 2001:db8:3c4d:15::1
                  solicitedNodeMulticast:
                    address: 2001:db8:3c4d:15::1
              schema:
                items:
                  type: object
                type: array
          description: Successful operation
      summary: Return prefixes assigned to all IPv6 enabled VLANs on an appliance.
      tags:
      - appliance
      - monitor
      - prefixes
      - delegated
      - vlanAssignments
  /devices/{serial}/appliance/radio/settings:
    get:
      description: Return the radio settings of an appliance
      operationId: getDeviceApplianceRadioSettings
      parameters:
      - description: Serial
        explode: false
        in: path
        name: serial
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                serial: Q234-ABCD-5678
                rfProfileId: "1234"
                twoFourGhzSettings:
                  channel: 11
                  targetPower: 21
                fiveGhzSettings:
                  channel: 149
                  channelWidth: 20
                  targetPower: 15
              schema:
                $ref: '#/components/schemas/getDeviceApplianceRadioSettings_200_response'
          description: Successful operation
      summary: Return the radio settings of an appliance
      tags:
      - appliance
      - configure
      - radio
      - settings
    put:
      description: Update the radio settings of an appliance
      operationId: updateDeviceApplianceRadioSettings
      parameters:
      - description: Serial
        explode: false
        in: path
        name: serial
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateDeviceApplianceRadioSettings_request'
        required: false
      responses:
        "200":
          content:
            application/json:
              example:
                serial: Q234-ABCD-5678
                rfProfileId: "1234"
                twoFourGhzSettings:
                  channel: 11
                  targetPower: 21
                fiveGhzSettings:
                  channel: 149
                  channelWidth: 20
                  targetPower: 15
              schema:
                $ref: '#/components/schemas/getDeviceApplianceRadioSettings_200_response'
          description: Successful operation
      summary: Update the radio settings of an appliance
      tags:
      - appliance
      - configure
      - radio
      - settings
  /devices/{serial}/appliance/uplinks/settings:
    get:
      description: Return the uplink settings for an MX appliance
      operationId: getDeviceApplianceUplinksSettings
      parameters:
      - description: Serial
        explode: false
        in: path
        name: serial
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                interfaces:
                  wan1:
                    enabled: true
                    vlanTagging:
                      enabled: true
                      vlanId: 1
                    svis:
                      ipv4:
                        assignmentMode: static
                        address: 9.10.11.10/16
                        gateway: 13.14.15.16
                        nameservers:
                          addresses:
                          - 1.2.3.4
                      ipv6:
                        assignmentMode: static
                        address: 1:2:3::4
                        gateway: 1:2:3::5
                        nameservers:
                          addresses:
                          - 1001:4860:4860::8888
                          - 1001:4860:4860::8844
                    pppoe:
                      enabled: true
                      authentication:
                        enabled: true
                        username: username
                  wan2:
                    enabled: true
                    vlanTagging:
                      enabled: true
                      vlanId: 1
                    svis:
                      ipv4:
                        assignmentMode: static
                        address: 9.10.11.10/16
                        gateway: 13.14.15.16
                        nameservers:
                          addresses:
                          - 1.2.3.4
                      ipv6:
                        assignmentMode: static
                        address: 1:2:3::4
                        gateway: 1:2:3::5
                        nameservers:
                          addresses:
                          - 1001:4860:4860::8888
                          - 1001:4860:4860::8844
                    pppoe:
                      enabled: true
                      authentication:
                        enabled: true
                        username: username
              schema:
                $ref: '#/components/schemas/getDeviceApplianceUplinksSettings_200_response'
          description: Successful operation
      summary: Return the uplink settings for an MX appliance
      tags:
      - appliance
      - configure
      - uplinks
      - settings
    put:
      description: Update the uplink settings for an MX appliance
      operationId: updateDeviceApplianceUplinksSettings
      parameters:
      - description: Serial
        explode: false
        in: path
        name: serial
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateDeviceApplianceUplinksSettings_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                interfaces:
                  wan1:
                    enabled: true
                    vlanTagging:
                      enabled: true
                      vlanId: 1
                    svis:
                      ipv4:
                        assignmentMode: static
                        address: 9.10.11.10/16
                        gateway: 13.14.15.16
                        nameservers:
                          addresses:
                          - 1.2.3.4
                      ipv6:
                        assignmentMode: static
                        address: 1:2:3::4
                        gateway: 1:2:3::5
                        nameservers:
                          addresses:
                          - 1001:4860:4860::8888
                          - 1001:4860:4860::8844
                    pppoe:
                      enabled: true
                      authentication:
                        enabled: true
                        username: username
                  wan2:
                    enabled: true
                    vlanTagging:
                      enabled: true
                      vlanId: 1
                    svis:
                      ipv4:
                        assignmentMode: static
                        address: 9.10.11.10/16
                        gateway: 13.14.15.16
                        nameservers:
                          addresses:
                          - 1.2.3.4
                      ipv6:
                        assignmentMode: static
                        address: 1:2:3::4
                        gateway: 1:2:3::5
                        nameservers:
                          addresses:
                          - 1001:4860:4860::8888
                          - 1001:4860:4860::8844
                    pppoe:
                      enabled: true
                      authentication:
                        enabled: true
                        username: username
              schema:
                $ref: '#/components/schemas/getDeviceApplianceUplinksSettings_200_response'
          description: Successful operation
      summary: Update the uplink settings for an MX appliance
      tags:
      - appliance
      - configure
      - uplinks
      - settings
  /devices/{serial}/appliance/vmx/authenticationToken:
    post:
      description: Generate a new vMX authentication token
      operationId: createDeviceApplianceVmxAuthenticationToken
      parameters:
      - description: Serial
        explode: false
        in: path
        name: serial
        required: true
        schema:
          type: string
        style: simple
      responses:
        "201":
          content:
            application/json:
              example:
                token: ffc0b7b578b61be5bd1d172132c78044/9af03bd84d474
                expiresAt: 2021-06-18T12:40:10Z
              schema:
                $ref: '#/components/schemas/createDeviceApplianceVmxAuthenticationToken_201_response'
          description: Successful operation
      summary: Generate a new vMX authentication token
      tags:
      - appliance
      - configure
      - vmx
      - authenticationToken
  /devices/{serial}/blinkLeds:
    post:
      description: Blink the LEDs on a device
      operationId: blinkDeviceLeds
      parameters:
      - description: Serial
        explode: false
        in: path
        name: serial
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/blinkDeviceLeds_request'
        required: false
      responses:
        "202":
          content:
            application/json:
              example:
                duration: 20
                period: 160
                duty: 50
              schema:
                $ref: '#/components/schemas/blinkDeviceLeds_202_response'
          description: Successful operation
      summary: Blink the LEDs on a device
      tags:
      - devices
      - liveTools
  /devices/{serial}/camera/analytics/live:
    get:
      description: Returns live state from camera of analytics zones
      operationId: getDeviceCameraAnalyticsLive
      parameters:
      - description: Serial
        explode: false
        in: path
        name: serial
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                ts: 2018-08-15T18:32:38.123Z
                zones:
                  "0":
                    person: 0
              schema:
                type: object
          description: Successful operation
      summary: Returns live state from camera of analytics zones
      tags:
      - camera
      - monitor
      - analytics
      - live
  /devices/{serial}/camera/analytics/overview:
    get:
      description: Returns an overview of aggregate analytics data for a timespan
      operationId: getDeviceCameraAnalyticsOverview
      parameters:
      - description: Serial
        explode: false
        in: path
        name: serial
        required: true
        schema:
          type: string
        style: simple
      - description: The beginning of the timespan for the data. The maximum lookback
          period is 365 days from today.
        explode: true
        in: query
        name: t0
        required: false
        schema:
          type: string
        style: form
      - description: The end of the timespan for the data. t1 can be a maximum of
          7 days after t0.
        explode: true
        in: query
        name: t1
        required: false
        schema:
          type: string
        style: form
      - description: "The timespan for which the information will be fetched. If specifying\
          \ timespan, do not specify parameters t0 and t1. The value must be in seconds\
          \ and be less than or equal to 7 days. The default is 1 hour."
        explode: true
        in: query
        name: timespan
        required: false
        schema:
          format: float
          maximum: 604800
          type: number
        style: form
      - description: "[optional] The object type for which analytics will be retrieved.\
          \ The default object type is person. The available types are [person, vehicle]."
        explode: true
        in: query
        name: objectType
        required: false
        schema:
          enum:
          - person
          - vehicle
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
              - startTs: 2018-08-15T18:32:38.123Z
                endTs: 2018-08-15T18:33:38.123Z
                zoneId: 0
                entrances: 254
                averageCount: 5
              schema:
                items:
                  type: object
                type: array
          description: Successful operation
      summary: Returns an overview of aggregate analytics data for a timespan
      tags:
      - camera
      - monitor
      - analytics
      - overview
  /devices/{serial}/camera/analytics/recent:
    get:
      description: Returns most recent record for analytics zones
      operationId: getDeviceCameraAnalyticsRecent
      parameters:
      - description: Serial
        explode: false
        in: path
        name: serial
        required: true
        schema:
          type: string
        style: simple
      - description: "[optional] The object type for which analytics will be retrieved.\
          \ The default object type is person. The available types are [person, vehicle]."
        explode: true
        in: query
        name: objectType
        required: false
        schema:
          enum:
          - person
          - vehicle
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
              - startTs: 2018-08-15T18:32:38.123Z
                endTs: 2018-08-15T18:33:38.123Z
                zoneId: 0
                entrances: 10
                averageCount: 2.54
              schema:
                items:
                  type: object
                type: array
          description: Successful operation
      summary: Returns most recent record for analytics zones
      tags:
      - camera
      - monitor
      - analytics
      - recent
  /devices/{serial}/camera/analytics/zones:
    get:
      description: Returns all configured analytic zones for this camera
      operationId: getDeviceCameraAnalyticsZones
      parameters:
      - description: Serial
        explode: false
        in: path
        name: serial
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
              - id: "0"
                type: occupancy
                label: Full Frame
                regionOfInterest:
                  x0: "0.00"
                  y0: "0.00"
                  x1: "1.00"
                  y1: "1.00"
              schema:
                items:
                  type: object
                type: array
          description: Successful operation
      summary: Returns all configured analytic zones for this camera
      tags:
      - camera
      - monitor
      - analytics
      - zones
  /devices/{serial}/camera/analytics/zones/{zoneId}/history:
    get:
      description: Return historical records for analytic zones
      operationId: getDeviceCameraAnalyticsZoneHistory
      parameters:
      - description: Serial
        explode: false
        in: path
        name: serial
        required: true
        schema:
          type: string
        style: simple
      - description: Zone ID
        explode: false
        in: path
        name: zoneId
        required: true
        schema:
          type: string
        style: simple
      - description: The beginning of the timespan for the data. The maximum lookback
          period is 365 days from today.
        explode: true
        in: query
        name: t0
        required: false
        schema:
          type: string
        style: form
      - description: The end of the timespan for the data. t1 can be a maximum of
          14 hours after t0.
        explode: true
        in: query
        name: t1
        required: false
        schema:
          type: string
        style: form
      - description: "The timespan for which the information will be fetched. If specifying\
          \ timespan, do not specify parameters t0 and t1. The value must be in seconds\
          \ and be less than or equal to 14 hours. The default is 1 hour."
        explode: true
        in: query
        name: timespan
        required: false
        schema:
          format: float
          maximum: 50400
          type: number
        style: form
      - description: "The time resolution in seconds for returned data. The valid\
          \ resolutions are: 60. The default is 60."
        explode: true
        in: query
        name: resolution
        required: false
        schema:
          type: integer
        style: form
      - description: "[optional] The object type for which analytics will be retrieved.\
          \ The default object type is person. The available types are [person, vehicle]."
        explode: true
        in: query
        name: objectType
        required: false
        schema:
          enum:
          - person
          - vehicle
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
              - startTs: 2018-08-15T18:32:38.123Z
                endTs: 2018-08-15T18:33:38.123Z
                entrances: 5
                averageCount: 1.5
              schema:
                items:
                  type: object
                type: array
          description: Successful operation
      summary: Return historical records for analytic zones
      tags:
      - camera
      - monitor
      - analytics
      - zones
      - history
  /devices/{serial}/camera/customAnalytics:
    get:
      description: Return custom analytics settings for a camera
      operationId: getDeviceCameraCustomAnalytics
      parameters:
      - description: Serial
        explode: false
        in: path
        name: serial
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                enabled: true
                artifactId: "1"
                parameters:
                - name: detection_threshold
                  value: 0.5
              schema:
                type: object
          description: Successful operation
      summary: Return custom analytics settings for a camera
      tags:
      - camera
      - configure
      - customAnalytics
    put:
      description: Update custom analytics settings for a camera
      operationId: updateDeviceCameraCustomAnalytics
      parameters:
      - description: Serial
        explode: false
        in: path
        name: serial
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateDeviceCameraCustomAnalytics_request'
        required: false
      responses:
        "200":
          content:
            application/json:
              example:
                enabled: true
                artifactId: "1"
                parameters:
                - name: detection_threshold
                  value: 0.5
              schema:
                type: object
          description: Successful operation
      summary: Update custom analytics settings for a camera
      tags:
      - camera
      - configure
      - customAnalytics
  /devices/{serial}/camera/generateSnapshot:
    post:
      description: Generate a snapshot of what the camera sees at the specified time
        and return a link to that image.
      operationId: generateDeviceCameraSnapshot
      parameters:
      - description: Serial
        explode: false
        in: path
        name: serial
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/generateDeviceCameraSnapshot_request'
        required: false
      responses:
        "202":
          content:
            application/json:
              example:
                url: https://spn4.meraki.com/stream/jpeg/snapshot/b2d123asdf423qd22d2
                expiry: Access to the image will expire at 2018-12-11T03:12:39Z.
              schema:
                type: object
          description: Successful operation
      summary: Generate a snapshot of what the camera sees at the specified time and
        return a link to that image.
      tags:
      - camera
      - monitor
  /devices/{serial}/camera/qualityAndRetention:
    get:
      description: Returns quality and retention settings for the given camera
      operationId: getDeviceCameraQualityAndRetention
      parameters:
      - description: Serial
        explode: false
        in: path
        name: serial
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                motionBasedRetentionEnabled: false
                audioRecordingEnabled: false
                restrictedBandwidthModeEnabled: false
                profileId: "1234"
                quality: Standard
                motionDetectorVersion: 2
                resolution: 1280x720
              schema:
                type: object
          description: Successful operation
      summary: Returns quality and retention settings for the given camera
      tags:
      - camera
      - configure
      - qualityAndRetention
    put:
      description: Update quality and retention settings for the given camera
      operationId: updateDeviceCameraQualityAndRetention
      parameters:
      - description: Serial
        explode: false
        in: path
        name: serial
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateDeviceCameraQualityAndRetention_request'
        required: false
      responses:
        "200":
          content:
            application/json:
              example:
                motionBasedRetentionEnabled: false
                audioRecordingEnabled: false
                restrictedBandwidthModeEnabled: false
                profileId: "1234"
                quality: Standard
                motionDetectorVersion: 2
                resolution: 1280x720
              schema:
                type: object
          description: Successful operation
      summary: Update quality and retention settings for the given camera
      tags:
      - camera
      - configure
      - qualityAndRetention
  /devices/{serial}/camera/sense:
    get:
      description: Returns sense settings for a given camera
      operationId: getDeviceCameraSense
      parameters:
      - description: Serial
        explode: false
        in: path
        name: serial
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                senseEnabled: true
                audioDetection:
                  enabled: false
                mqttBrokerId: "1234"
                mqttTopics:
                - /merakimv/Q2AA-AAAA-1111/raw_detections
                - /merakimv/Q2AA-AAAA-1111/light
              schema:
                type: object
          description: Successful operation
      summary: Returns sense settings for a given camera
      tags:
      - camera
      - configure
      - sense
    put:
      description: Update sense settings for the given camera
      operationId: updateDeviceCameraSense
      parameters:
      - description: Serial
        explode: false
        in: path
        name: serial
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateDeviceCameraSense_request'
        required: false
      responses:
        "200":
          content:
            application/json:
              example:
                senseEnabled: true
                audioDetection:
                  enabled: false
                mqttBrokerId: "1234"
                mqttTopics:
                - /merakimv/Q2AA-AAAA-1111/raw_detections
                - /merakimv/Q2AA-AAAA-1111/light
              schema:
                type: object
          description: Successful operation
      summary: Update sense settings for the given camera
      tags:
      - camera
      - configure
      - sense
  /devices/{serial}/camera/sense/objectDetectionModels:
    get:
      description: Returns the MV Sense object detection model list for the given
        camera
      operationId: getDeviceCameraSenseObjectDetectionModels
      parameters:
      - description: Serial
        explode: false
        in: path
        name: serial
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
              - id: "0"
                description: Model A
              schema:
                items:
                  type: object
                type: array
          description: Successful operation
      summary: Returns the MV Sense object detection model list for the given camera
      tags:
      - camera
      - configure
      - sense
      - objectDetectionModels
  /devices/{serial}/camera/video/settings:
    get:
      description: Returns video settings for the given camera
      operationId: getDeviceCameraVideoSettings
      parameters:
      - description: Serial
        explode: false
        in: path
        name: serial
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                externalRtspEnabled: true
                rtspUrl: rtsp://10.0.0.1:9000/live
              schema:
                $ref: '#/components/schemas/getDeviceCameraVideoSettings_200_response'
          description: Successful operation
      summary: Returns video settings for the given camera
      tags:
      - camera
      - configure
      - video
      - settings
    put:
      description: Update video settings for the given camera
      operationId: updateDeviceCameraVideoSettings
      parameters:
      - description: Serial
        explode: false
        in: path
        name: serial
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateDeviceCameraVideoSettings_request'
        required: false
      responses:
        "200":
          content:
            application/json:
              example:
                externalRtspEnabled: true
                rtspUrl: rtsp://10.0.0.1:9000/live
              schema:
                $ref: '#/components/schemas/getDeviceCameraVideoSettings_200_response'
          description: Successful operation
      summary: Update video settings for the given camera
      tags:
      - camera
      - configure
      - video
      - settings
  /devices/{serial}/camera/videoLink:
    get:
      description: "Returns video link to the specified camera. If a timestamp is\
        \ supplied, it links to that timestamp."
      operationId: getDeviceCameraVideoLink
      parameters:
      - description: Serial
        explode: false
        in: path
        name: serial
        required: true
        schema:
          type: string
        style: simple
      - description: "[optional] The video link will start at this time. The timestamp\
          \ should be a string in ISO8601 format. If no timestamp is specified, we\
          \ will assume current time."
        explode: true
        in: query
        name: timestamp
        required: false
        schema:
          format: date-time
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                url: https://nxx.meraki.com/office-cameras/n/bs0a1k/manage/nodes/new_list/29048243992402?timestamp=1535732570077
              schema:
                type: object
          description: Successful operation
      summary: Returns video link to the specified camera
      tags:
      - camera
      - configure
      - videoLink
  /devices/{serial}/camera/wirelessProfiles:
    get:
      description: Returns wireless profile assigned to the given camera
      operationId: getDeviceCameraWirelessProfiles
      parameters:
      - description: Serial
        explode: false
        in: path
        name: serial
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                ids:
                  primary: "3"
                  secondary: "2"
                  backup: "1"
              schema:
                type: object
          description: Successful operation
      summary: Returns wireless profile assigned to the given camera
      tags:
      - camera
      - configure
      - wirelessProfiles
    put:
      description: "Assign wireless profiles to the given camera. Incremental updates\
        \ are not supported, all profile assignment need to be supplied at once."
      operationId: updateDeviceCameraWirelessProfiles
      parameters:
      - description: Serial
        explode: false
        in: path
        name: serial
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateDeviceCameraWirelessProfiles_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                ids:
                  primary: "3"
                  secondary: "2"
                  backup: "1"
              schema:
                type: object
          description: Successful operation
      summary: Assign wireless profiles to the given camera
      tags:
      - camera
      - configure
      - wirelessProfiles
  /devices/{serial}/cellular/sims:
    get:
      description: Return the SIM and APN configurations for a cellular device.
      operationId: getDeviceCellularSims
      parameters:
      - description: Serial
        explode: false
        in: path
        name: serial
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                sims:
                - slot: sim1
                  isPrimary: true
                  apns:
                  - name: internet
                    allowedIpTypes:
                    - ipv4
                    - ipv6
                    authentication:
                      type: pap
                      username: milesmeraki
              schema:
                type: object
          description: Successful operation
      summary: Return the SIM and APN configurations for a cellular device.
      tags:
      - devices
      - configure
      - cellular
      - sims
    put:
      description: Updates the SIM and APN configurations for a cellular device.
      operationId: updateDeviceCellularSims
      parameters:
      - description: Serial
        explode: false
        in: path
        name: serial
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateDeviceCellularSims_request'
        required: false
      responses:
        "200":
          content:
            application/json:
              example:
                sims:
                - slot: sim1
                  isPrimary: true
                  apns:
                  - name: internet
                    allowedIpTypes:
                    - ipv4
                    - ipv6
                    authentication:
                      type: pap
                      username: milesmeraki
              schema:
                type: object
          description: Successful operation
      summary: Updates the SIM and APN configurations for a cellular device.
      tags:
      - devices
      - configure
      - cellular
      - sims
  /devices/{serial}/cellularGateway/lan:
    get:
      description: Show the LAN Settings of a MG
      operationId: getDeviceCellularGatewayLan
      parameters:
      - description: Serial
        explode: false
        in: path
        name: serial
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                deviceName: name of the MG
                deviceLanIp: 192.168.0.33
                deviceSubnet: 192.168.0.32/27
                fixedIpAssignments:
                - mac: 0b:00:00:00:00:ac
                  name: server 1
                  ip: 192.168.0.10
                - mac: 0b:00:00:00:00:ab
                  name: server 2
                  ip: 192.168.0.20
                reservedIpRanges:
                - start: 192.168.1.0
                  end: 192.168.1.1
                  comment: A reserved IP range
              schema:
                type: object
          description: Successful operation
      summary: Show the LAN Settings of a MG
      tags:
      - cellularGateway
      - configure
      - lan
    put:
      description: Update the LAN Settings for a single MG.
      operationId: updateDeviceCellularGatewayLan
      parameters:
      - description: Serial
        explode: false
        in: path
        name: serial
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateDeviceCellularGatewayLan_request'
        required: false
      responses:
        "200":
          content:
            application/json:
              example:
                deviceName: name of the MG
                deviceLanIp: 192.168.0.33
                deviceSubnet: 192.168.0.32/27
                fixedIpAssignments:
                - mac: 0b:00:00:00:00:ac
                  name: server 1
                  ip: 192.168.0.10
                - mac: 0b:00:00:00:00:ab
                  name: server 2
                  ip: 192.168.0.20
                reservedIpRanges:
                - start: 192.168.1.0
                  end: 192.168.1.1
                  comment: A reserved IP range
              schema:
                type: object
          description: Successful operation
      summary: Update the LAN Settings for a single MG.
      tags:
      - cellularGateway
      - configure
      - lan
  /devices/{serial}/cellularGateway/portForwardingRules:
    get:
      description: Returns the port forwarding rules for a single MG.
      operationId: getDeviceCellularGatewayPortForwardingRules
      parameters:
      - description: Serial
        explode: false
        in: path
        name: serial
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                rules:
                - lanIp: 172.31.128.5
                  name: test
                  access: any
                  publicPort: 11-12
                  localPort: "4"
                  uplink: both
                  protocol: tcp
                - lanIp: 172.31.128.5
                  name: test 2
                  access: restricted
                  allowedIps:
                  - 10.10.10.10
                  - 10.10.10.11
                  publicPort: "99"
                  localPort: "5"
                  uplink: both
                  protocol: tcp
              schema:
                type: object
          description: Successful operation
      summary: Returns the port forwarding rules for a single MG.
      tags:
      - cellularGateway
      - configure
      - portForwardingRules
    put:
      description: Updates the port forwarding rules for a single MG.
      operationId: updateDeviceCellularGatewayPortForwardingRules
      parameters:
      - description: Serial
        explode: false
        in: path
        name: serial
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateDeviceCellularGatewayPortForwardingRules_request'
        required: false
      responses:
        "200":
          content:
            application/json:
              example:
                rules:
                - lanIp: 172.31.128.5
                  name: test
                  access: any
                  publicPort: 11-12
                  localPort: "4"
                  uplink: both
                  protocol: tcp
                - lanIp: 172.31.128.5
                  name: test 2
                  access: restricted
                  allowedIps:
                  - 10.10.10.10
                  - 10.10.10.11
                  publicPort: "99"
                  localPort: "5"
                  uplink: both
                  protocol: tcp
              schema:
                type: object
          description: Successful operation
      summary: Updates the port forwarding rules for a single MG.
      tags:
      - cellularGateway
      - configure
      - portForwardingRules
  /devices/{serial}/clients:
    get:
      description: "List the clients of a device, up to a maximum of a month ago.\
        \ The usage of each client is returned in kilobytes. If the device is a switch,\
        \ the switchport is returned; otherwise the switchport field is null."
      operationId: getDeviceClients
      parameters:
      - description: Serial
        explode: false
        in: path
        name: serial
        required: true
        schema:
          type: string
        style: simple
      - description: The beginning of the timespan for the data. The maximum lookback
          period is 31 days from today.
        explode: true
        in: query
        name: t0
        required: false
        schema:
          type: string
        style: form
      - description: "The timespan for which the information will be fetched. If specifying\
          \ timespan, do not specify parameter t0. The value must be in seconds and\
          \ be less than or equal to 31 days. The default is 1 day."
        explode: true
        in: query
        name: timespan
        required: false
        schema:
          format: float
          maximum: 2678400
          type: number
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
              - usage:
                  sent: 138.0
                  recv: 61.0
                id: k74272e
                description: Miles's phone
                mac: 22:33:44:55:66:77
                ip: 1.2.3.4
                user: milesmeraki
                vlan: "255"
                namedVlan: Named Vlan
                switchport: null
                adaptivePolicyGroup: null
                mdnsName: Miles's phone
                dhcpHostname: MilesPhone
              schema:
                items:
                  type: object
                type: array
          description: Successful operation
      summary: "List the clients of a device, up to a maximum of a month ago"
      tags:
      - devices
      - monitor
      - clients
  /devices/{serial}/liveTools/ping:
    post:
      description: Enqueue a job to ping a target host from the device
      operationId: createDeviceLiveToolsPing
      parameters:
      - description: Serial
        explode: false
        in: path
        name: serial
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createDeviceLiveToolsPing_request'
        required: true
      responses:
        "201":
          content:
            application/json:
              example:
                pingId: "1284392014819"
                url: /devices/SERIAL/liveTools/ping/1284392014819
                request:
                  serial: Q234-ABCD-5678
                  target: 75.75.75.75
                  count: 2
                status: complete
              schema:
                $ref: '#/components/schemas/createDeviceLiveToolsPing_201_response'
          description: Successful operation
      summary: Enqueue a job to ping a target host from the device
      tags:
      - devices
      - liveTools
      - ping
  /devices/{serial}/liveTools/ping/{id}:
    get:
      description: Return a ping job. Latency unit in response is in milliseconds.
        Size is in bytes.
      operationId: getDeviceLiveToolsPing
      parameters:
      - description: Serial
        explode: false
        in: path
        name: serial
        required: true
        schema:
          type: string
        style: simple
      - description: ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                pingId: "1284392014819"
                url: /devices/SERIAL/liveTools/ping/1284392014819
                request:
                  serial: Q234-ABCD-5678
                  target: 75.75.75.75
                  count: 2
                status: complete
                results:
                  sent: 5
                  received: 5
                  loss:
                    percentage: 0.0
                  latencies:
                    minimum: 15.8
                    average: 15.8
                    maximum: 15.9
                  replies:
                  - sequenceId: 1
                    size: 84
                    latency: 15.7
              schema:
                $ref: '#/components/schemas/getDeviceLiveToolsPing_200_response'
          description: Successful operation
      summary: Return a ping job
      tags:
      - devices
      - liveTools
      - ping
  /devices/{serial}/liveTools/pingDevice:
    post:
      description: Enqueue a job to check connectivity status to the device
      operationId: createDeviceLiveToolsPingDevice
      parameters:
      - description: Serial
        explode: false
        in: path
        name: serial
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createDeviceLiveToolsPingDevice_request'
        required: false
      responses:
        "201":
          content:
            application/json:
              example:
                pingId: "1284392014819"
                url: /devices/SERIAL/liveTools/ping/1284392014819
                request:
                  serial: Q234-ABCD-5678
                  target: 75.75.75.75
                  count: 2
                status: complete
              schema:
                $ref: '#/components/schemas/createDeviceLiveToolsPing_201_response'
          description: Successful operation
      summary: Enqueue a job to check connectivity status to the device
      tags:
      - devices
      - liveTools
      - pingDevice
  /devices/{serial}/liveTools/pingDevice/{id}:
    get:
      description: Return a ping device job. Latency unit in response is in milliseconds.
        Size is in bytes.
      operationId: getDeviceLiveToolsPingDevice
      parameters:
      - description: Serial
        explode: false
        in: path
        name: serial
        required: true
        schema:
          type: string
        style: simple
      - description: ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                pingId: "1284392014819"
                url: /devices/SERIAL/liveTools/ping/1284392014819
                request:
                  serial: Q234-ABCD-5678
                  target: 75.75.75.75
                  count: 2
                status: complete
                results:
                  sent: 5
                  received: 5
                  loss:
                    percentage: 0.0
                  latencies:
                    minimum: 15.8
                    average: 15.8
                    maximum: 15.9
                  replies:
                  - sequenceId: 1
                    size: 84
                    latency: 15.7
              schema:
                $ref: '#/components/schemas/getDeviceLiveToolsPing_200_response'
          description: Successful operation
      summary: Return a ping device job
      tags:
      - devices
      - liveTools
      - pingDevice
  /devices/{serial}/lldpCdp:
    get:
      description: List LLDP and CDP information for a device
      operationId: getDeviceLldpCdp
      parameters:
      - description: Serial
        explode: false
        in: path
        name: serial
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                sourceMac: 00:11:22:33:44:55
                ports:
                  "8":
                    cdp:
                      deviceId: e0553d8cdf53
                      portId: Port 10
                      address: 00:11:22:33:44:55
                      sourcePort: "8"
                  "12":
                    cdp:
                      deviceId: e0553d8cdf53
                      portId: Port 11
                      address: 00:11:22:33:44:55
                      sourcePort: "12"
                    lldp:
                      systemName: Meraki MS350-24X - Phineas
                      portId: "11"
                      managementAddress: 00:11:22:33:44:55
                      sourcePort: "12"
              schema:
                type: object
          description: Successful operation
      summary: List LLDP and CDP information for a device
      tags:
      - devices
      - monitor
      - lldpCdp
  /devices/{serial}/lossAndLatencyHistory:
    get:
      description: "Get the uplink loss percentage and latency in milliseconds, and\
        \ goodput in kilobits per second for MX, MG and Z devices."
      operationId: getDeviceLossAndLatencyHistory
      parameters:
      - description: Serial
        explode: false
        in: path
        name: serial
        required: true
        schema:
          type: string
        style: simple
      - description: The beginning of the timespan for the data. The maximum lookback
          period is 60 days from today.
        explode: true
        in: query
        name: t0
        required: false
        schema:
          type: string
        style: form
      - description: The end of the timespan for the data. t1 can be a maximum of
          31 days after t0.
        explode: true
        in: query
        name: t1
        required: false
        schema:
          type: string
        style: form
      - description: "The timespan for which the information will be fetched. If specifying\
          \ timespan, do not specify parameters t0 and t1. The value must be in seconds\
          \ and be less than or equal to 31 days. The default is 1 day."
        explode: true
        in: query
        name: timespan
        required: false
        schema:
          format: float
          maximum: 2678400
          type: number
        style: form
      - description: "The time resolution in seconds for returned data. The valid\
          \ resolutions are: 60, 600, 3600, 86400. The default is 60."
        explode: true
        in: query
        name: resolution
        required: false
        schema:
          type: integer
        style: form
      - description: "The WAN uplink used to obtain the requested stats. Valid uplinks\
          \ are wan1, wan2, wan3, cellular. The default is wan1."
        explode: true
        in: query
        name: uplink
        required: false
        schema:
          enum:
          - cellular
          - wan1
          - wan2
          - wan3
          type: string
        style: form
      - description: The destination IP used to obtain the requested stats. This is
          required.
        explode: true
        in: query
        name: ip
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
              - startTime: 2018-10-09T22:18:27Z
                endTime: 2018-10-09T22:19:27Z
                lossPercent: 5.23
                latencyMs: 324.12
                goodput: 1493
                jitter: 11.2
              - startTime: 2018-10-09T22:19:27Z
                endTime: 2018-10-09T22:20:27Z
                lossPercent: 1.0
                latencyMs: 43.0
                goodput: 2567
                jitter: 3.4
              - startTime: 2018-10-09T22:20:27Z
                endTime: 2018-10-09T22:21:27Z
                lossPercent: 0.01
                latencyMs: 44.02
                goodput: 7899
                jitter: 1.0
              schema:
                items:
                  type: object
                type: array
          description: Successful operation
      summary: "Get the uplink loss percentage and latency in milliseconds, and goodput\
        \ in kilobits per second for MX, MG and Z devices."
      tags:
      - devices
      - monitor
      - uplinks
      - lossAndLatencyHistory
  /devices/{serial}/managementInterface:
    get:
      description: Return the management interface settings for a device
      operationId: getDeviceManagementInterface
      parameters:
      - description: Serial
        explode: false
        in: path
        name: serial
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                ddnsHostnames:
                  activeDdnsHostname: mx1-sample.dynamic-m.com
                  ddnsHostnameWan1: mx1-sample-1.dynamic-m.com
                  ddnsHostnameWan2: mx1-sample-2.dynamic-m.com
                wan1:
                  wanEnabled: not configured
                  usingStaticIp: true
                  staticIp: 1.2.3.4
                  staticSubnetMask: 255.255.255.0
                  staticGatewayIp: 1.2.3.1
                  staticDns:
                  - 1.2.3.2
                  - 1.2.3.3
                  vlan: 7
                wan2:
                  wanEnabled: enabled
                  usingStaticIp: false
                  vlan: 2
              schema:
                type: object
          description: Successful operation
      summary: Return the management interface settings for a device
      tags:
      - devices
      - configure
      - managementInterface
    put:
      description: Update the management interface settings for a device
      operationId: updateDeviceManagementInterface
      parameters:
      - description: Serial
        explode: false
        in: path
        name: serial
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateDeviceManagementInterface_request'
        required: false
      responses:
        "200":
          content:
            application/json:
              example:
                wan1:
                  wanEnabled: not configured
                  usingStaticIp: true
                  staticIp: 1.2.3.4
                  staticSubnetMask: 255.255.255.0
                  staticGatewayIp: 1.2.3.1
                  staticDns:
                  - 1.2.3.2
                  - 1.2.3.3
                  vlan: 7
                wan2:
                  wanEnabled: enabled
                  usingStaticIp: false
                  vlan: 2
              schema:
                type: object
          description: Successful operation
      summary: Update the management interface settings for a device
      tags:
      - devices
      - configure
      - managementInterface
  /devices/{serial}/reboot:
    post:
      description: Reboot a device
      operationId: rebootDevice
      parameters:
      - description: Serial
        explode: false
        in: path
        name: serial
        required: true
        schema:
          type: string
        style: simple
      responses:
        "202":
          content:
            application/json:
              example:
                success: true
              schema:
                $ref: '#/components/schemas/rebootDevice_202_response'
          description: Successful operation
      summary: Reboot a device
      tags:
      - devices
      - liveTools
  /devices/{serial}/sensor/relationships:
    get:
      description: List the sensor roles for a given sensor or camera device.
      operationId: getDeviceSensorRelationships
      parameters:
      - description: Serial
        explode: false
        in: path
        name: serial
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
              - livestream:
                  relatedDevices:
                  - serial: Q234-ABCD-5678
                    productType: camera
              schema:
                items:
                  $ref: '#/components/schemas/getDeviceSensorRelationships_200_response_inner'
                type: array
          description: Successful operation
      summary: List the sensor roles for a given sensor or camera device.
      tags:
      - sensor
      - configure
      - relationships
    put:
      description: Assign one or more sensor roles to a given sensor or camera device.
      operationId: updateDeviceSensorRelationships
      parameters:
      - description: Serial
        explode: false
        in: path
        name: serial
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateDeviceSensorRelationships_request'
        required: false
      responses:
        "200":
          content:
            application/json:
              example:
                livestream:
                  relatedDevices:
                  - serial: Q234-ABCD-5678
                    productType: camera
              schema:
                $ref: '#/components/schemas/getDeviceSensorRelationships_200_response_inner'
          description: Successful operation
      summary: Assign one or more sensor roles to a given sensor or camera device.
      tags:
      - sensor
      - configure
      - relationships
  /devices/{serial}/switch/ports:
    get:
      description: List the switch ports for a switch
      operationId: getDeviceSwitchPorts
      parameters:
      - description: Serial
        explode: false
        in: path
        name: serial
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
              - portId: "1"
                name: My switch port
                tags:
                - tag1
                - tag2
                enabled: true
                poeEnabled: true
                type: access
                vlan: 10
                voiceVlan: 20
                allowedVlans: "1,3,5-10"
                isolationEnabled: false
                rstpEnabled: true
                stpGuard: disabled
                linkNegotiation: Auto negotiate
                linkNegotiationCapabilities:
                - Auto negotiate
                - 1 Gigabit full duplex (auto)
                portScheduleId: "1234"
                udld: Alert only
                accessPolicyType: Sticky MAC allow list
                accessPolicyNumber: 2
                macAllowList:
                - 34:56:fe:ce:8e:b0
                - 34:56:fe:ce:8e:b1
                stickyMacAllowList:
                - 34:56:fe:ce:8e:b0
                - 34:56:fe:ce:8e:b1
                stickyMacAllowListLimit: 5
                stormControlEnabled: true
                adaptivePolicyGroupId: "123"
                peerSgtCapable: false
                flexibleStackingEnabled: true
                daiTrusted: false
                profile:
                  enabled: false
                  id: "1284392014819"
                  iname: iname
              schema:
                items:
                  $ref: '#/components/schemas/getDeviceSwitchPorts_200_response_inner'
                type: array
          description: Successful operation
      summary: List the switch ports for a switch
      tags:
      - switch
      - configure
      - ports
  /devices/{serial}/switch/ports/cycle:
    post:
      description: Cycle a set of switch ports
      operationId: cycleDeviceSwitchPorts
      parameters:
      - description: Serial
        explode: false
        in: path
        name: serial
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/cycleDeviceSwitchPorts_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                ports:
                - "1"
                - 2-5
                - 1_MA-MOD-8X10G_1
                - 1_MA-MOD-8X10G_2-1_MA-MOD-8X10G_8
              schema:
                $ref: '#/components/schemas/cycleDeviceSwitchPorts_200_response'
          description: Successful operation
      summary: Cycle a set of switch ports
      tags:
      - switch
      - liveTools
      - ports
  /devices/{serial}/switch/ports/statuses:
    get:
      description: Return the status for all the ports of a switch
      operationId: getDeviceSwitchPortsStatuses
      parameters:
      - description: Serial
        explode: false
        in: path
        name: serial
        required: true
        schema:
          type: string
        style: simple
      - description: The beginning of the timespan for the data. The maximum lookback
          period is 31 days from today.
        explode: true
        in: query
        name: t0
        required: false
        schema:
          type: string
        style: form
      - description: "The timespan for which the information will be fetched. If specifying\
          \ timespan, do not specify parameter t0. The value must be in seconds and\
          \ be less than or equal to 31 days. The default is 1 day."
        explode: true
        in: query
        name: timespan
        required: false
        schema:
          format: float
          maximum: 2678400
          type: number
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
              - portId: "1"
                enabled: true
                status: Connected
                isUplink: false
                errors:
                - PoE overload
                - Very high proportion of CRC errors
                warnings:
                - SecureConnect authentication in progress
                - PoE port was denied power
                - High proportion of CRC errors
                speed: 10 Gbps
                duplex: full
                usageInKb:
                  total: 40867
                  sent: 23008
                  recv: 17859
                cdp:
                  systemName: ""
                  platform: MS350-24X
                  deviceId: 0c8ddbddee:ff
                  portId: Port 20
                  nativeVlan: 1
                  address: "10.0,0.1"
                  managementAddress: 10.0.0.100
                  version: "1"
                  vtpManagementDomain: ""
                  capabilities: Switch
                lldp:
                  systemName: MS350-24X - Test
                  systemDescription: MS350-24X Cloud Managed PoE Switch
                  chassisId: 0c:8d:db:dd:ee:ff
                  portId: "20"
                  managementVlan: 1
                  portVlan: 1
                  managementAddress: 10.0.0.100
                  portDescription: Port 20
                  systemCapabilities: switch
                clientCount: 10
                powerUsageInWh: 55.9
                trafficInKbps:
                  total: 2.2
                  sent: 1.2
                  recv: 1.0
                securePort:
                  enabled: true
                  active: true
                  authenticationStatus: Authentication in progress
                  configOverrides:
                    type: trunk
                    vlan: 12
                    voiceVlan: 34
                    allowedVlans: all
              schema:
                items:
                  $ref: '#/components/schemas/getDeviceSwitchPortsStatuses_200_response_inner'
                type: array
          description: Successful operation
      summary: Return the status for all the ports of a switch
      tags:
      - switch
      - monitor
      - ports
      - statuses
  /devices/{serial}/switch/ports/statuses/packets:
    get:
      description: Return the packet counters for all the ports of a switch
      operationId: getDeviceSwitchPortsStatusesPackets
      parameters:
      - description: Serial
        explode: false
        in: path
        name: serial
        required: true
        schema:
          type: string
        style: simple
      - description: The beginning of the timespan for the data. The maximum lookback
          period is 1 day from today.
        explode: true
        in: query
        name: t0
        required: false
        schema:
          type: string
        style: form
      - description: "The timespan for which the information will be fetched. If specifying\
          \ timespan, do not specify parameter t0. The value must be in seconds and\
          \ be less than or equal to 1 day. The default is 1 day."
        explode: true
        in: query
        name: timespan
        required: false
        schema:
          format: float
          maximum: 86400
          type: number
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
              - portId: "1"
                packets:
                - desc: Total
                  total: 112081
                  sent: 104135
                  recv: 7946
                  ratePerSec:
                    total: 1
                    sent: 1
                    recv: 0
                - desc: Broadcast
                  total: 30884
                  sent: 30370
                  recv: 514
                  ratePerSec:
                    total: 0
                    sent: 0
                    recv: 0
                - desc: Multicast
                  total: 67620
                  sent: 66849
                  recv: 771
                  ratePerSec:
                    total: 0
                    sent: 0
                    recv: 0
                - desc: CRC align errors
                  total: 0
                  sent: 0
                  recv: 0
                  ratePerSec:
                    total: 0
                    sent: 0
                    recv: 0
              schema:
                items:
                  type: object
                type: array
          description: Successful operation
      summary: Return the packet counters for all the ports of a switch
      tags:
      - switch
      - monitor
      - ports
      - statuses
      - packets
  /devices/{serial}/switch/ports/{portId}:
    get:
      description: Return a switch port
      operationId: getDeviceSwitchPort
      parameters:
      - description: Serial
        explode: false
        in: path
        name: serial
        required: true
        schema:
          type: string
        style: simple
      - description: Port ID
        explode: false
        in: path
        name: portId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                portId: "1"
                name: My switch port
                tags:
                - tag1
                - tag2
                enabled: true
                poeEnabled: true
                type: access
                vlan: 10
                voiceVlan: 20
                allowedVlans: "1,3,5-10"
                isolationEnabled: false
                rstpEnabled: true
                stpGuard: disabled
                linkNegotiation: Auto negotiate
                linkNegotiationCapabilities:
                - Auto negotiate
                - 1 Gigabit full duplex (auto)
                portScheduleId: "1234"
                udld: Alert only
                accessPolicyType: Sticky MAC allow list
                accessPolicyNumber: 2
                macAllowList:
                - 34:56:fe:ce:8e:b0
                - 34:56:fe:ce:8e:b1
                stickyMacAllowList:
                - 34:56:fe:ce:8e:b0
                - 34:56:fe:ce:8e:b1
                stickyMacAllowListLimit: 5
                stormControlEnabled: true
                adaptivePolicyGroupId: "123"
                peerSgtCapable: false
                flexibleStackingEnabled: true
                daiTrusted: false
                profile:
                  enabled: false
                  id: "1284392014819"
                  iname: iname
              schema:
                $ref: '#/components/schemas/getDeviceSwitchPorts_200_response_inner'
          description: Successful operation
      summary: Return a switch port
      tags:
      - switch
      - configure
      - ports
    put:
      description: Update a switch port
      operationId: updateDeviceSwitchPort
      parameters:
      - description: Serial
        explode: false
        in: path
        name: serial
        required: true
        schema:
          type: string
        style: simple
      - description: Port ID
        explode: false
        in: path
        name: portId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateDeviceSwitchPort_request'
        required: false
      responses:
        "200":
          content:
            application/json:
              example:
                portId: "1"
                name: My switch port
                tags:
                - tag1
                - tag2
                enabled: true
                poeEnabled: true
                type: access
                vlan: 10
                voiceVlan: 20
                allowedVlans: "1,3,5-10"
                isolationEnabled: false
                rstpEnabled: true
                stpGuard: disabled
                linkNegotiation: Auto negotiate
                linkNegotiationCapabilities:
                - Auto negotiate
                - 1 Gigabit full duplex (auto)
                portScheduleId: "1234"
                udld: Alert only
                accessPolicyType: Sticky MAC allow list
                accessPolicyNumber: 2
                macAllowList:
                - 34:56:fe:ce:8e:b0
                - 34:56:fe:ce:8e:b1
                stickyMacAllowList:
                - 34:56:fe:ce:8e:b0
                - 34:56:fe:ce:8e:b1
                stickyMacAllowListLimit: 5
                stormControlEnabled: true
                adaptivePolicyGroupId: "123"
                peerSgtCapable: false
                flexibleStackingEnabled: true
                daiTrusted: false
                profile:
                  enabled: false
                  id: "1284392014819"
                  iname: iname
              schema:
                $ref: '#/components/schemas/getDeviceSwitchPorts_200_response_inner'
          description: Successful operation
      summary: Update a switch port
      tags:
      - switch
      - configure
      - ports
  /devices/{serial}/switch/routing/interfaces:
    get:
      description: List layer 3 interfaces for a switch. Those for a stack may be
        found under switch stack routing.
      operationId: getDeviceSwitchRoutingInterfaces
      parameters:
      - description: Serial
        explode: false
        in: path
        name: serial
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
              - interfaceId: "1234"
                name: L3 interface
                subnet: 192.168.1.0/24
                interfaceIp: 192.168.1.2
                multicastRouting: disabled
                vlanId: 100
                defaultGateway: 192.168.1.1
                ospfSettings:
                  area: "0"
                  cost: 1
                  isPassiveEnabled: true
                ospfV3:
                  area: "1"
                  cost: 2
                  isPassiveEnabled: true
                ipv6:
                  assignmentMode: static
                  address: 1:2:3:4::1
                  prefix: 1:2:3:4::/48
                  gateway: 1:2:3:4::2
              schema:
                items:
                  $ref: '#/components/schemas/getDeviceSwitchRoutingInterfaces_200_response_inner'
                type: array
          description: Successful operation
      summary: List layer 3 interfaces for a switch
      tags:
      - switch
      - configure
      - routing
      - interfaces
    post:
      description: Create a layer 3 interface for a switch
      operationId: createDeviceSwitchRoutingInterface
      parameters:
      - description: Serial
        explode: false
        in: path
        name: serial
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createDeviceSwitchRoutingInterface_request'
        required: false
      responses:
        "201":
          content:
            application/json:
              example:
                interfaceId: "1234"
                name: L3 interface
                subnet: 192.168.1.0/24
                interfaceIp: 192.168.1.2
                multicastRouting: disabled
                vlanId: 100
                defaultGateway: 192.168.1.1
                ospfSettings:
                  area: "0"
                  cost: 1
                  isPassiveEnabled: true
                ospfV3:
                  area: "1"
                  cost: 2
                  isPassiveEnabled: true
                ipv6:
                  assignmentMode: static
                  address: 1:2:3:4::1
                  prefix: 1:2:3:4::/48
                  gateway: 1:2:3:4::2
              schema:
                $ref: '#/components/schemas/getDeviceSwitchRoutingInterfaces_200_response_inner'
          description: Successful operation
      summary: Create a layer 3 interface for a switch
      tags:
      - switch
      - configure
      - routing
      - interfaces
  /devices/{serial}/switch/routing/interfaces/{interfaceId}:
    delete:
      description: Delete a layer 3 interface from the switch
      operationId: deleteDeviceSwitchRoutingInterface
      parameters:
      - description: Serial
        explode: false
        in: path
        name: serial
        required: true
        schema:
          type: string
        style: simple
      - description: Interface ID
        explode: false
        in: path
        name: interfaceId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: Successful operation
      summary: Delete a layer 3 interface from the switch
      tags:
      - switch
      - configure
      - routing
      - interfaces
    get:
      description: Return a layer 3 interface for a switch
      operationId: getDeviceSwitchRoutingInterface
      parameters:
      - description: Serial
        explode: false
        in: path
        name: serial
        required: true
        schema:
          type: string
        style: simple
      - description: Interface ID
        explode: false
        in: path
        name: interfaceId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                interfaceId: "1234"
                name: L3 interface
                subnet: 192.168.1.0/24
                interfaceIp: 192.168.1.2
                multicastRouting: disabled
                vlanId: 100
                defaultGateway: 192.168.1.1
                ospfSettings:
                  area: "0"
                  cost: 1
                  isPassiveEnabled: true
                ospfV3:
                  area: "1"
                  cost: 2
                  isPassiveEnabled: true
                ipv6:
                  assignmentMode: static
                  address: 1:2:3:4::1
                  prefix: 1:2:3:4::/48
                  gateway: 1:2:3:4::2
              schema:
                $ref: '#/components/schemas/getDeviceSwitchRoutingInterfaces_200_response_inner'
          description: Successful operation
      summary: Return a layer 3 interface for a switch
      tags:
      - switch
      - configure
      - routing
      - interfaces
    put:
      description: Update a layer 3 interface for a switch
      operationId: updateDeviceSwitchRoutingInterface
      parameters:
      - description: Serial
        explode: false
        in: path
        name: serial
        required: true
        schema:
          type: string
        style: simple
      - description: Interface ID
        explode: false
        in: path
        name: interfaceId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createDeviceSwitchRoutingInterface_request'
        required: false
      responses:
        "200":
          content:
            application/json:
              example:
                interfaceId: "1234"
                name: L3 interface
                subnet: 192.168.1.0/24
                interfaceIp: 192.168.1.2
                multicastRouting: disabled
                vlanId: 100
                defaultGateway: 192.168.1.1
                ospfSettings:
                  area: "0"
                  cost: 1
                  isPassiveEnabled: true
                ospfV3:
                  area: "1"
                  cost: 2
                  isPassiveEnabled: true
                ipv6:
                  assignmentMode: static
                  address: 1:2:3:4::1
                  prefix: 1:2:3:4::/48
                  gateway: 1:2:3:4::2
              schema:
                $ref: '#/components/schemas/getDeviceSwitchRoutingInterfaces_200_response_inner'
          description: Successful operation
      summary: Update a layer 3 interface for a switch
      tags:
      - switch
      - configure
      - routing
      - interfaces
  /devices/{serial}/switch/routing/interfaces/{interfaceId}/dhcp:
    get:
      description: Return a layer 3 interface DHCP configuration for a switch
      operationId: getDeviceSwitchRoutingInterfaceDhcp
      parameters:
      - description: Serial
        explode: false
        in: path
        name: serial
        required: true
        schema:
          type: string
        style: simple
      - description: Interface ID
        explode: false
        in: path
        name: interfaceId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                dhcpMode: dhcpServer
                dhcpLeaseTime: 1 day
                dnsNameserversOption: custom
                dnsCustomNameservers:
                - "8.8.8.8, 8.8.4.4"
                bootOptionsEnabled: true
                bootNextServer: 1.2.3.4
                bootFileName: home_boot_file
                dhcpOptions:
                - code: "5"
                  type: text
                  value: five
                reservedIpRanges:
                - start: 192.168.1.1
                  end: 192.168.1.10
                  comment: A reserved IP range
                fixedIpAssignments:
                - mac: 22:33:44:55:66:77
                  name: Cisco Meraki valued client
                  ip: 192.168.1.12
              schema:
                type: object
          description: Successful operation
      summary: Return a layer 3 interface DHCP configuration for a switch
      tags:
      - switch
      - configure
      - routing
      - interfaces
      - dhcp
    put:
      description: Update a layer 3 interface DHCP configuration for a switch
      operationId: updateDeviceSwitchRoutingInterfaceDhcp
      parameters:
      - description: Serial
        explode: false
        in: path
        name: serial
        required: true
        schema:
          type: string
        style: simple
      - description: Interface ID
        explode: false
        in: path
        name: interfaceId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateDeviceSwitchRoutingInterfaceDhcp_request'
        required: false
      responses:
        "200":
          content:
            application/json:
              example:
                dhcpMode: dhcpServer
                dhcpLeaseTime: 1 day
                dnsNameserversOption: custom
                dnsCustomNameservers:
                - "8.8.8.8, 8.8.4.4"
                bootOptionsEnabled: true
                bootNextServer: 1.2.3.4
                bootFileName: home_boot_file
                dhcpOptions:
                - code: "5"
                  type: text
                  value: five
                reservedIpRanges:
                - start: 192.168.1.1
                  end: 192.168.1.10
                  comment: A reserved IP range
                fixedIpAssignments:
                - mac: 22:33:44:55:66:77
                  name: Cisco Meraki valued client
                  ip: 192.168.1.12
              schema:
                type: object
          description: Successful operation
      summary: Update a layer 3 interface DHCP configuration for a switch
      tags:
      - switch
      - configure
      - routing
      - interfaces
      - dhcp
  /devices/{serial}/switch/routing/staticRoutes:
    get:
      description: List layer 3 static routes for a switch
      operationId: getDeviceSwitchRoutingStaticRoutes
      parameters:
      - description: Serial
        explode: false
        in: path
        name: serial
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
              - staticRouteId: "1234"
                name: My route
                subnet: 192.168.1.0/24
                nextHopIp: 1.2.3.4
                advertiseViaOspfEnabled: false
                preferOverOspfRoutesEnabled: false
              schema:
                items:
                  type: object
                type: array
          description: Successful operation
      summary: List layer 3 static routes for a switch
      tags:
      - switch
      - configure
      - routing
      - staticRoutes
    post:
      description: Create a layer 3 static route for a switch
      operationId: createDeviceSwitchRoutingStaticRoute
      parameters:
      - description: Serial
        explode: false
        in: path
        name: serial
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createDeviceSwitchRoutingStaticRoute_request'
        required: true
      responses:
        "201":
          content:
            application/json:
              example:
                staticRouteId: "1234"
                name: My route
                subnet: 192.168.1.0/24
                nextHopIp: 1.2.3.4
                advertiseViaOspfEnabled: false
                preferOverOspfRoutesEnabled: false
              schema:
                type: object
          description: Successful operation
      summary: Create a layer 3 static route for a switch
      tags:
      - switch
      - configure
      - routing
      - staticRoutes
  /devices/{serial}/switch/routing/staticRoutes/{staticRouteId}:
    delete:
      description: Delete a layer 3 static route for a switch
      operationId: deleteDeviceSwitchRoutingStaticRoute
      parameters:
      - description: Serial
        explode: false
        in: path
        name: serial
        required: true
        schema:
          type: string
        style: simple
      - description: Static route ID
        explode: false
        in: path
        name: staticRouteId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: Successful operation
      summary: Delete a layer 3 static route for a switch
      tags:
      - switch
      - configure
      - routing
      - staticRoutes
    get:
      description: Return a layer 3 static route for a switch
      operationId: getDeviceSwitchRoutingStaticRoute
      parameters:
      - description: Serial
        explode: false
        in: path
        name: serial
        required: true
        schema:
          type: string
        style: simple
      - description: Static route ID
        explode: false
        in: path
        name: staticRouteId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                staticRouteId: "1234"
                name: My route
                subnet: 192.168.1.0/24
                nextHopIp: 1.2.3.4
                advertiseViaOspfEnabled: false
                preferOverOspfRoutesEnabled: false
              schema:
                $ref: '#/components/schemas/getDeviceSwitchRoutingStaticRoute_200_response'
          description: Successful operation
      summary: Return a layer 3 static route for a switch
      tags:
      - switch
      - configure
      - routing
      - staticRoutes
    put:
      description: Update a layer 3 static route for a switch
      operationId: updateDeviceSwitchRoutingStaticRoute
      parameters:
      - description: Serial
        explode: false
        in: path
        name: serial
        required: true
        schema:
          type: string
        style: simple
      - description: Static route ID
        explode: false
        in: path
        name: staticRouteId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateDeviceSwitchRoutingStaticRoute_request'
        required: false
      responses:
        "200":
          content:
            application/json:
              example:
                staticRouteId: "1234"
                name: My route
                subnet: 192.168.1.0/24
                nextHopIp: 1.2.3.4
[...]
